Repository jina-ai/jina-hub, pull requests merged in 2020-10, with the labels that each got.

#430 feat: keras uses tree traversal
  encoders/image/ImageKerasEncoder/config.yml
  encoders/image/ImageKerasEncoder/manifest.yml
Labels: component/encoder, hacktoberfest, hacktoberfest2020, size/S, type/config, type/manifest

#432 fix: crafter image resizer target_size list
  crafters/image/ImageResizer/__init__.py
  crafters/image/ImageResizer/manifest.yml
  crafters/image/ImageResizer/tests/test_imageresizer.py
Labels: component/crafter, hacktoberfest, hacktoberfest2020, size/S, tests, type/manifest, type/python

#431 feat: add compression vae executor
  encoders/numeric/CompressionVaeEncoder/Dockerfile
  encoders/numeric/CompressionVaeEncoder/README.md
  encoders/numeric/CompressionVaeEncoder/__init__.py
  encoders/numeric/CompressionVaeEncoder/config.yml
  encoders/numeric/CompressionVaeEncoder/manifest.yml
  encoders/numeric/CompressionVaeEncoder/requirements.txt
  encoders/numeric/CompressionVaeEncoder/tests/__init__.py
  encoders/numeric/CompressionVaeEncoder/tests/test_compressionvaeencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#427 Tika extractor
  crafters/nlp/TikaExtractor/Dockerfile
  crafters/nlp/TikaExtractor/README.md
  crafters/nlp/TikaExtractor/__init__.py
  crafters/nlp/TikaExtractor/cats_are_awesome.pdf
  crafters/nlp/TikaExtractor/config.yml
  crafters/nlp/TikaExtractor/manifest.yml
  crafters/nlp/TikaExtractor/requirements.txt
  crafters/nlp/TikaExtractor/tests/__init__.py
  crafters/nlp/TikaExtractor/tests/test_tikaextractor.py
Labels: component/crafter, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#434 fix: fixed the error appearing due to int float conversion
  rankers/BM25Ranker/__init__.py
  rankers/BiMatchRanker/__init__.py
  rankers/LevenshteinRanker/__init__.py
  rankers/MaxRanker/__init__.py
  rankers/MinRanker/__init__.py
  rankers/TfIdfRanker/__init__.py
Labels: component/ranker, hacktoberfest, hacktoberfest2020, size/S, type/manifest, type/python

#433 feat: proper close
  encoders/image/ImagePaddlehubEncoder/Dockerfile
  encoders/image/ImagePaddlehubEncoder/__init__.py
  encoders/image/ImagePaddlehubEncoder/manifest.yml
  encoders/image/ImagePaddlehubEncoder/tests/test_paddlehub.py
  encoders/video/VideoPaddleEncoder/Dockerfile
  encoders/video/VideoPaddleEncoder/__init__.py
  encoders/video/VideoPaddleEncoder/manifest.yml
  encoders/video/VideoPaddleEncoder/tests/test_videopaddleencoder.py
Labels: component/encoder, hacktoberfest, hacktoberfest2020, size/M, tests, type/dockerfile, type/manifest, type/python

#435 Hub login changes in CD
  .github/workflows/cd.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/S

#436 chore: bumping zarr manifest version to test CD
  indexers/vector/ZarrIndexer/manifest.yml
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/XS, type/manifest

#437 Removing hub-login logic from jina-hub CD
  .github/workflows/cd.yml
  indexers/vector/ZarrIndexer/manifest.yml
Labels: area/cicd, area/housekeeping, component/indexer, hacktoberfest, hacktoberfest2020, size/S, type/manifest

#440 fix: rankers are working with tree traversal
  rankers/BM25Ranker/manifest.yml
  rankers/BM25Ranker/tests/test_bm25ranker.py
  rankers/BiMatchRanker/__init__.py
  rankers/BiMatchRanker/manifest.yml
  rankers/BiMatchRanker/tests/test_bimatchranker.py
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/tests/test_levenshteinranker.py
  rankers/MaxRanker/manifest.yml
  rankers/MaxRanker/tests/test_maxranker.py
  rankers/MinRanker/manifest.yml
  rankers/MinRanker/tests/test_minranker.py
  rankers/TfIdfRanker/manifest.yml
  rankers/TfIdfRanker/tests/test_tfidfranker.py
Labels: component/ranker, hacktoberfest, hacktoberfest2020, size/M, tests, type/manifest, type/python

#447 fix: added tuple support
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageNormalizer/tests/test_imagenormalizer.py
  crafters/image/ImageResizer/__init__.py
  crafters/image/ImageResizer/manifest.yml
Labels: component/crafter, hacktoberfest, hacktoberfest2020, size/S, tests, type/manifest, type/python

#446 MongoDB based KV Indexer
  indexers/keyvalue/MongoDBIndexer/Dockerfile
  indexers/keyvalue/MongoDBIndexer/README.md
  indexers/keyvalue/MongoDBIndexer/__init__.py
  indexers/keyvalue/MongoDBIndexer/config.yml
  indexers/keyvalue/MongoDBIndexer/manifest.yml
  indexers/keyvalue/MongoDBIndexer/mongodbhandler.py
  indexers/keyvalue/MongoDBIndexer/requirements.txt
  indexers/keyvalue/MongoDBIndexer/tests/__init__.py
  indexers/keyvalue/MongoDBIndexer/tests/test_mongodbindexer.py
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#442 fix: parameter overwrite enabled again
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, hacktoberfest, hacktoberfest2020, size/M, tests, type/manifest, type/python

#438 Feat redis indexer
  indexers/keyvalue/RedisDBIndexer/Dockerfile
  indexers/keyvalue/RedisDBIndexer/README.md
  indexers/keyvalue/RedisDBIndexer/__init__.py
  indexers/keyvalue/RedisDBIndexer/config.yml
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/requirements.txt
  indexers/keyvalue/RedisDBIndexer/tests/__init__.py
  indexers/keyvalue/RedisDBIndexer/tests/test_redisdbindexer.py
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#374 chore: bump BigTransferEncoder version to 0.0.6
  encoders/image/BigTransferEncoder/__init__.py
  encoders/image/BigTransferEncoder/manifest.yml
  encoders/image/BigTransferEncoder/tests/test_bigtransferencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#372 chore: bump CustomImageTorchEncoder version to 0.0.5
  encoders/image/CustomImageTorchEncoder/__init__.py
  encoders/image/CustomImageTorchEncoder/manifest.yml
  encoders/image/CustomImageTorchEncoder/tests/test_customimagetorchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#370 chore: bump CustomKerasImageEncoder version to 0.0.5
  encoders/image/CustomKerasImageEncoder/__init__.py
  encoders/image/CustomKerasImageEncoder/manifest.yml
  encoders/image/CustomKerasImageEncoder/requirements.txt
  encoders/image/CustomKerasImageEncoder/tests/test_customtfkeras.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#451 ci: add cla.yml
  .github/workflows/cla.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/S

#448 fix: load model in post_init
  encoders/numeric/CompressionVaeEncoder/Dockerfile
  encoders/numeric/CompressionVaeEncoder/__init__.py
  encoders/numeric/CompressionVaeEncoder/manifest.yml
  encoders/numeric/CompressionVaeEncoder/tests/test_compressionvaeencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#385 chore: bump Wav2VecSpeechEncoder version to 0.0.4
  encoders/audio/Wav2VecSpeechEncoder/Dockerfile
  encoders/audio/Wav2VecSpeechEncoder/__init__.py
  encoders/audio/Wav2VecSpeechEncoder/config.yml
  encoders/audio/Wav2VecSpeechEncoder/manifest.yml
  encoders/audio/Wav2VecSpeechEncoder/tests/test_wav2vecspeechencoder.py
Labels: component/encoder, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#456 test: add advanced tests to zarr indexer
  indexers/vector/ZarrIndexer/manifest.yml
  indexers/vector/ZarrIndexer/tests/test_zarrindexer.py
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/S, tests, type/manifest, type/python

#454 test: add advanced tests to ngt indexer
  indexers/vector/NGTIndexer/__init__.py
  indexers/vector/NGTIndexer/manifest.yml
  indexers/vector/NGTIndexer/tests/test_ngtindexer.py
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/M, tests, type/manifest, type/python

#455 test: add advanced tests to scann indexer
  indexers/vector/ScannIndexer/__init__.py
  indexers/vector/ScannIndexer/manifest.yml
  indexers/vector/ScannIndexer/tests/test_scannindexer.py
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/M, tests, type/manifest, type/python

#453 test: add advanced tests to annoy indexer
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/tests/test_annoyindexer.py
  indexers/vector/AnnoyIndexer/tests/yaml/annoy-wrap.yml
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/M, tests, type/manifest, type/python

#459 test: add advanced tests to faiss indexer
  indexers/vector/FaissIndexer/Dockerfile
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/requirements.txt
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/M, tests, type/dockerfile, type/manifest, type/python

#390 chore: bump FlairTextEncoder version to 0.0.6
  encoders/nlp/FlairTextEncoder/Dockerfile
  encoders/nlp/FlairTextEncoder/__init__.py
  encoders/nlp/FlairTextEncoder/manifest.yml
  encoders/nlp/FlairTextEncoder/tests/test_flairtextencoder.py
Labels: component/encoder, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#457 test: sptag advanced indexer testing
  indexers/vector/SptagIndexer/__init__.py
  indexers/vector/SptagIndexer/manifest.yml
  indexers/vector/SptagIndexer/tests/test_sptagindexer.py
  indexers/vector/SptagIndexer/tests/yaml/sptag-wrap.yml
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/M, tests, type/manifest, type/python

#458 test: add advanced tests to nmslib indexer
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/tests/test_nmslibindexer.py
  indexers/vector/NmsLibIndexer/tests/yaml/nmslib-wrap.yml
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/M, tests, type/manifest, type/python

#460 feat: expose index params
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/tests/test_nmslibindexer.py
  indexers/vector/NmsLibIndexer/tests/yaml/nmslib-wrap.yml
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/S, tests, type/manifest, type/python

#373 chore: bump ImageOnnxEncoder version to 0.0.5
  encoders/image/ImageOnnxEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest
