Repository jina-ai/jina-hub, pull requests merged in 2020-05, with the labels that each got.

#46 fix: update to the latest jina
  hub/executors/encoders/nlp/transformers-pytorch/manifest.yml
Labels: area/hub, component/encoder, component/executor, size/XS

#49 Refactor hitscir roberta
  hub/executors/encoders/nlp/transformers-hitscir/Dockerfile
  hub/executors/encoders/nlp/transformers-hitscir/roberta.yml
  hub/executors/encoders/nlp/transformers-hitscir/transformer_roberta.py
Labels: area/hub, component/encoder, component/executor, size/L

#51 Feature/build
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README.md
  builder/app.py
  builder/manifest.yml
  builder/osi-approved.yml
  builder/platforms.yml
  builder/requirements.txt
Labels: area/cicd, area/housekeeping, size/XL

#52 feat: add explain on update field
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/issue-ref.yml
  README.md
  hub/examples/mwu_encoder/manifest.yml
Labels: area/cicd, area/example, area/housekeeping, area/hub, size/M

#53 ci: fix deps
  .github/workflows/ci.yml
Labels: area/cicd, area/example, area/housekeeping, area/hub, size/S

#61 fix(roberta): put model on cpu
  hub/executors/encoders/nlp/transformers-hitscir/roberta.yml
Labels: area/hub, component/encoder, component/executor, size/XS

#63 fix(roberta): change fundamental image
  hub/executors/encoders/nlp/transformers-hitscir/Dockerfile
  hub/executors/encoders/nlp/transformers-hitscir/roberta.yml
Labels: area/hub, component/encoder, component/executor, size/XS

#66 ci: fix dependencies
  .github/workflows/cd.yml
Labels: area/cicd, area/housekeeping, size/XS
