Repository jina-ai/jina-hub, pull requests merged in 2020-08, with the labels that each got.

#113 refactor(rankers): migrate MaxRanker
  rankers/MaxRanker/Dockerfile
  rankers/MaxRanker/README.md
  rankers/MaxRanker/__init__.py
  rankers/MaxRanker/config.yml
  rankers/MaxRanker/manifest.yml
  rankers/MaxRanker/requirements.txt
  rankers/MaxRanker/tests/__init__.py
  rankers/MaxRanker/tests/test_maxranker.py
Labels: size/M

#116 refactor: migrate annoy indexer
  indexers/vector/AnnoyIndexer/Dockerfile
  indexers/vector/AnnoyIndexer/README.md
  indexers/vector/AnnoyIndexer/__init__.py
  indexers/vector/AnnoyIndexer/config.yml
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/requirements.txt
  indexers/vector/AnnoyIndexer/tests/__init__.py
  indexers/vector/AnnoyIndexer/tests/test_annoyindexer.py
  indexers/vector/AnnoyIndexer/tests/yaml/annoy-wrap.yml
Labels: size/L

#114 refactor: clean up
  rankers/MaxRanker/requirements.txt
Labels: size/XS

#120 refactor(encoder): migrate OneHotTextEncoder
  encoders/nlp/OneHotTextEncoder/Dockerfile
  encoders/nlp/OneHotTextEncoder/README.md
  encoders/nlp/OneHotTextEncoder/__init__.py
  encoders/nlp/OneHotTextEncoder/config.yml
  encoders/nlp/OneHotTextEncoder/manifest.yml
  encoders/nlp/OneHotTextEncoder/requirements.txt
  encoders/nlp/OneHotTextEncoder/tests/__init__.py
  encoders/nlp/OneHotTextEncoder/tests/test_onehottextencoder.py
Labels: size/L

#121 refactor: migrate level db indexer
  indexers/keyvalue/LevelDBIndexer/Dockerfile
  indexers/keyvalue/LevelDBIndexer/README.md
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/config.yml
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/requirements.txt
  indexers/keyvalue/LevelDBIndexer/tests/__init__.py
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
  indexers/keyvalue/LevelDBIndexer/tests/yaml/test-leveldb.yml
Labels: size/M

#122 refactor: migrate ngt indexer
  indexers/vector/NGTIndexer/Dockerfile
  indexers/vector/NGTIndexer/README.md
  indexers/vector/NGTIndexer/__init__.py
  indexers/vector/NGTIndexer/config.yml
  indexers/vector/NGTIndexer/manifest.yml
  indexers/vector/NGTIndexer/requirements.txt
  indexers/vector/NGTIndexer/tests/__init__.py
  indexers/vector/NGTIndexer/tests/test_ngtindexer.py
Labels: size/L

#124 refactor: migrate numpyindexer rm naive
  indexers/vector/NumpyIndexer/Dockerfile
  indexers/vector/NumpyIndexer/README.md
  indexers/vector/NumpyIndexer/__init__.py
  indexers/vector/NumpyIndexer/config.yml
  indexers/vector/NumpyIndexer/manifest.yml
  indexers/vector/NumpyIndexer/requirements.txt
  indexers/vector/NumpyIndexer/tests/__init__.py
  indexers/vector/NumpyIndexer/tests/test_numpyindexer.py
Labels: size/L

#130 fix: hub builder
  api/docker.py
Labels: size/M

#128 refactor: refactor Milvus Indexer
  indexers/vector/MilvusIndexer/Dockerfile
  indexers/vector/MilvusIndexer/MilvusDBHandler/__init__.py
  indexers/vector/MilvusIndexer/README.md
  indexers/vector/MilvusIndexer/__init__.py
  indexers/vector/MilvusIndexer/config.yml
  indexers/vector/MilvusIndexer/manifest.yml
  indexers/vector/MilvusIndexer/requirements.txt
  indexers/vector/MilvusIndexer/tests/__init__.py
  indexers/vector/MilvusIndexer/tests/milvus_tmp/conf/server_config.yaml
  indexers/vector/MilvusIndexer/tests/server_config.yaml
  indexers/vector/MilvusIndexer/tests/test_integration.py
  indexers/vector/MilvusIndexer/tests/test_milvusindexer.py
Labels: size/XL

#131 fix: fix image crafter
  crafters/image/CenterImageCropper/tests/test_centerimagecropper.py
  crafters/image/FiveImageCropper/tests/test_segmenter.py
  crafters/image/ImageCropper/tests/imgs/cars.jpg
  crafters/image/ImageCropper/tests/test_imagecropper.py
  crafters/image/ImageNormalizer/tests/test_imagenormalizer.py
  crafters/image/ImageReader/tests/test_imagereader.py
  crafters/image/ImageResizer/tests/test_imageresizer.py
  crafters/image/RandomImageCropper/tests/test_segmenter.py
  crafters/image/SlidingWindowImageCropper/tests/test_segmenter.py
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/cars.jpg
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-1.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-2.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-5.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-7.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-8.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-0.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-3.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-4.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-6.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-9.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-0.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-1.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-4.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-7.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-8.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-9.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/person-2.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/person-3.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/person-5.png
  crafters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/person-6.png
  crafters/image/TorchObjectDetectionSegmenter/tests/test_torchobjectdetectionsegmenter.py
Labels: size/XL

#134 Refactor nmslib indexer
  indexers/vector/AnnoyIndexer/tests/test_annoyindexer.py
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
  indexers/vector/NmsLibIndexer/Dockerfile
  indexers/vector/NmsLibIndexer/README.md
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/NmsLibIndexer/config.yml
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/requirements.txt
  indexers/vector/NmsLibIndexer/tests/__init__.py
  indexers/vector/NmsLibIndexer/tests/test_nmslibindexer.py
  indexers/vector/NmsLibIndexer/tests/yaml/nmslib-wrap.yml
  indexers/vector/NumpyIndexer/README.md
  indexers/vector/NumpyIndexer/__init__.py
  indexers/vector/NumpyIndexer/config.yml
  indexers/vector/NumpyIndexer/requirements.txt
Labels: size/L

#132 Refactor torch object detection
  crafters/image/TorchObjectDetectionSegmenter/Dockerfile
  crafters/image/TorchObjectDetectionSegmenter/__init__.py
  crafters/image/TorchObjectDetectionSegmenter/requirements.txt
  crafters/image/TorchObjectDetectionSegmenter/tests/test_torchobjectdetectionsegmenter.py
Labels: size/M

#147 Fix sptagindexer
  indexers/vector/NmsLibIndexer/Dockerfile
  indexers/vector/SptagIndexer/Dockerfile
  indexers/vector/SptagIndexer/__init__.py
  indexers/vector/SptagIndexer/tests/test_sptagindexer.py
  indexers/vector/SptagIndexer/tests/yaml/sptag-wrap.yml
Labels: size/M

#146 fix: fix nmslibindexer build image
  indexers/vector/NmsLibIndexer/Dockerfile
Labels: size/XS

#144 fix: test failing because no default parameter
  encoders/image/CustomImageTorchEncoder/tests/test_customimagetorchencoder.py
Labels: size/S

#145 fix: touch before save in test
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
Labels: size/XS

#148 refactor: adapt to moving transform encoder back to core
  encoders/numeric/RandomGaussianEncoder/__init__.py
  encoders/numeric/RandomGaussianEncoder/tests/test_randomgaussianencoder.py
  encoders/numeric/RandomGaussianEncoder/transformerencoder.py
Labels: size/L

#150 refactor: migrate random sparse encoder[149]
  encoders/numeric/RandomSparseEncoder/Dockerfile
  encoders/numeric/RandomSparseEncoder/README.md
  encoders/numeric/RandomSparseEncoder/__init__.py
  encoders/numeric/RandomSparseEncoder/config.yml
  encoders/numeric/RandomSparseEncoder/manifest.yml
  encoders/numeric/RandomSparseEncoder/requirements.txt
  encoders/numeric/RandomSparseEncoder/tests/__init__.py
  encoders/numeric/RandomSparseEncoder/tests/test_randomsparseencoder.py
Labels: size/L

#139 Migrate fast ica encoder
  encoders/numeric/FastICAEncoder/Dockerfile
  encoders/numeric/FastICAEncoder/README.md
  encoders/numeric/FastICAEncoder/__init__.py
  encoders/numeric/FastICAEncoder/config.yml
  encoders/numeric/FastICAEncoder/manifest.yml
  encoders/numeric/FastICAEncoder/requirements.txt
  encoders/numeric/FastICAEncoder/tests/__init__.py
  encoders/numeric/FastICAEncoder/tests/test_fasticaencoder.py
Labels: size/L

#158 refactor: migrate tsne encoder
  encoders/numeric/TSNEEncoder/Dockerfile
  encoders/numeric/TSNEEncoder/README.md
  encoders/numeric/TSNEEncoder/__init__.py
  encoders/numeric/TSNEEncoder/config.yml
  encoders/numeric/TSNEEncoder/manifest.yml
  encoders/numeric/TSNEEncoder/requirements.txt
  encoders/numeric/TSNEEncoder/tests/__init__.py
  encoders/numeric/TSNEEncoder/tests/test_tsneencoder.py
Labels: size/L

#156 refactor: migrate pca encoder
  encoders/numeric/IncrementalPCAEncoder/Dockerfile
  encoders/numeric/IncrementalPCAEncoder/README.md
  encoders/numeric/IncrementalPCAEncoder/__init__.py
  encoders/numeric/IncrementalPCAEncoder/config.yml
  encoders/numeric/IncrementalPCAEncoder/manifest.yml
  encoders/numeric/IncrementalPCAEncoder/requirements.txt
  encoders/numeric/IncrementalPCAEncoder/tests/__init__.py
  encoders/numeric/IncrementalPCAEncoder/tests/test_incrementalpcaencoder.py
  encoders/numeric/feature_agglomeration.py
Labels: size/L

#174 ci: add hub builder to ci workflow
  .github/labeler.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/M

#157 refactor: migrate agglomeration encoder
  encoders/numeric/FeatureAgglomerationEncoder/Dockerfile
  encoders/numeric/FeatureAgglomerationEncoder/README.md
  encoders/numeric/FeatureAgglomerationEncoder/__init__.py
  encoders/numeric/FeatureAgglomerationEncoder/config.yml
  encoders/numeric/FeatureAgglomerationEncoder/manifest.yml
  encoders/numeric/FeatureAgglomerationEncoder/requirements.txt
  encoders/numeric/FeatureAgglomerationEncoder/tests/__init__.py
  encoders/numeric/FeatureAgglomerationEncoder/tests/test_featureagglomerationencoder.py
Labels: component/encoder, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#162 refactor: migrate scann indexer
  indexers/vector/ScannIndexer/Dockerfile
  indexers/vector/ScannIndexer/README.md
  indexers/vector/ScannIndexer/__init__.py
  indexers/vector/ScannIndexer/config.yml
  indexers/vector/ScannIndexer/manifest.yml
  indexers/vector/ScannIndexer/requirements.txt
  indexers/vector/ScannIndexer/tests/__init__.py
  indexers/vector/ScannIndexer/tests/test_scannindexer.py
Labels: component/indexer, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#163 fix: remove jina from faiss requirements
  indexers/vector/FaissIndexer/requirements.txt
Labels: component/indexer, size/XS

#173 refactor: migrate transform torch encoder and tf encoder
  encoders/nlp/TransformerTFEncoder/Dockerfile
  encoders/nlp/TransformerTFEncoder/README.md
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/config.yml
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/requirements.txt
  encoders/nlp/TransformerTFEncoder/tests/__init__.py
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
  encoders/nlp/TransformerTorchEncoder/Dockerfile
  encoders/nlp/TransformerTorchEncoder/README.md
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/config.yml
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/requirements.txt
  encoders/nlp/TransformerTorchEncoder/tests/__init__.py
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/XL, tests, type/config, type/dockerfile, type/manifest, type/python

#143 refactor: migrate BiTImage Encoder
  encoders/image/BigTransferEncoder/Dockerfile
  encoders/image/BigTransferEncoder/README.md
  encoders/image/BigTransferEncoder/__init__.py
  encoders/image/BigTransferEncoder/config.yml
  encoders/image/BigTransferEncoder/download.sh
  encoders/image/BigTransferEncoder/manifest.yml
  encoders/image/BigTransferEncoder/requirements.txt
  encoders/image/BigTransferEncoder/tests/__init__.py
  encoders/image/BigTransferEncoder/tests/test_bigtransferencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#169 refactor: migrate TextPaddlehubEncoder
  encoders/nlp/TextPaddlehubEncoder/Dockerfile
  encoders/nlp/TextPaddlehubEncoder/README.md
  encoders/nlp/TextPaddlehubEncoder/__init__.py
  encoders/nlp/TextPaddlehubEncoder/config.yml
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
  encoders/nlp/TextPaddlehubEncoder/requirements.txt
  encoders/nlp/TextPaddlehubEncoder/tests/__init__.py
  encoders/nlp/TextPaddlehubEncoder/tests/test_textpaddlehubencoder.py
Labels: component/encoder, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#167 Migrate flair text encoder
  encoders/nlp/FlairTextEncoder/Dockerfile
  encoders/nlp/FlairTextEncoder/README.md
  encoders/nlp/FlairTextEncoder/__init__.py
  encoders/nlp/FlairTextEncoder/config.yml
  encoders/nlp/FlairTextEncoder/manifest.yml
  encoders/nlp/FlairTextEncoder/requirements.txt
  encoders/nlp/FlairTextEncoder/tests/__init__.py
  encoders/nlp/FlairTextEncoder/tests/test_flairtextencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#171 Migrate universal sentence encoder
  encoders/nlp/UniversalSentenceEncoder/Dockerfile
  encoders/nlp/UniversalSentenceEncoder/README.md
  encoders/nlp/UniversalSentenceEncoder/__init__.py
  encoders/nlp/UniversalSentenceEncoder/config.yml
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
  encoders/nlp/UniversalSentenceEncoder/requirements.txt
  encoders/nlp/UniversalSentenceEncoder/tests/__init__.py
  encoders/nlp/UniversalSentenceEncoder/tests/test_universalsentenceencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#168 Migrate farm text encoder 152
  encoders/nlp/FarmTextEncoder/Dockerfile
  encoders/nlp/FarmTextEncoder/README.md
  encoders/nlp/FarmTextEncoder/__init__.py
  encoders/nlp/FarmTextEncoder/config.yml
  encoders/nlp/FarmTextEncoder/manifest.yml
  encoders/nlp/FarmTextEncoder/requirements.txt
  encoders/nlp/FarmTextEncoder/tests/__init__.py
  encoders/nlp/FarmTextEncoder/tests/test_farmtextencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#180 Migrate chroma encoder
  encoders/audio/ChromaPitchEncoder/Dockerfile
  encoders/audio/ChromaPitchEncoder/README.md
  encoders/audio/ChromaPitchEncoder/__init__.py
  encoders/audio/ChromaPitchEncoder/config.yml
  encoders/audio/ChromaPitchEncoder/manifest.yml
  encoders/audio/ChromaPitchEncoder/requirements.txt
  encoders/audio/ChromaPitchEncoder/tests/__init__.py
  encoders/audio/ChromaPitchEncoder/tests/test_chromapitchencoder.py
Labels: component/encoder, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#179 refactor: migrate mfcc
  encoders/audio/MFCCTimbreEncoder/Dockerfile
  encoders/audio/MFCCTimbreEncoder/README.md
  encoders/audio/MFCCTimbreEncoder/__init__.py
  encoders/audio/MFCCTimbreEncoder/config.yml
  encoders/audio/MFCCTimbreEncoder/manifest.yml
  encoders/audio/MFCCTimbreEncoder/requirements.txt
  encoders/audio/MFCCTimbreEncoder/tests/__init__.py
  encoders/audio/MFCCTimbreEncoder/tests/test_mfcctimbreencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#161 refactor: migrate PaddleHub Encoder
  encoders/image/PaddleHubEncoder/Dockerfile
  encoders/image/PaddleHubEncoder/README.md
  encoders/image/PaddleHubEncoder/__init__.py
  encoders/image/PaddleHubEncoder/config.yml
  encoders/image/PaddleHubEncoder/manifest.yml
  encoders/image/PaddleHubEncoder/requirements.txt
  encoders/image/PaddleHubEncoder/tests/__init__.py
  encoders/image/PaddleHubEncoder/tests/test_paddlehub.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#183 Refactor ImagePaddlehubEncoder 177
  encoders/image/ImagePaddlehubEncoder/Dockerfile
  encoders/image/ImagePaddlehubEncoder/README.md
  encoders/image/ImagePaddlehubEncoder/__init__.py
  encoders/image/ImagePaddlehubEncoder/config.yml
  encoders/image/ImagePaddlehubEncoder/manifest.yml
  encoders/image/ImagePaddlehubEncoder/requirements.txt
  encoders/image/ImagePaddlehubEncoder/tests/__init__.py
  encoders/image/ImagePaddlehubEncoder/tests/test_paddlehub.py
  encoders/image/PaddleHubEncoder/README.md
  encoders/image/PaddleHubEncoder/config.yml
  encoders/image/PaddleHubEncoder/manifest.yml
Labels: component/encoder, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#175 refactor: migrate ONNX Encoder
  encoders/image/OnnxImageEncoder/Dockerfile
  encoders/image/OnnxImageEncoder/README.md
  encoders/image/OnnxImageEncoder/__init__.py
  encoders/image/OnnxImageEncoder/config.yml
  encoders/image/OnnxImageEncoder/download.sh
  encoders/image/OnnxImageEncoder/manifest.yml
  encoders/image/OnnxImageEncoder/requirements.txt
  encoders/image/OnnxImageEncoder/tests/__init__.py
  encoders/image/OnnxImageEncoder/tests/test_onnx_encoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#172 refactor: move video paddle encoder to hub
  encoders/video/VideoPaddleEncoder/Dockerfile
  encoders/video/VideoPaddleEncoder/README.md
  encoders/video/VideoPaddleEncoder/__init__.py
  encoders/video/VideoPaddleEncoder/config.yml
  encoders/video/VideoPaddleEncoder/manifest.yml
  encoders/video/VideoPaddleEncoder/requirements.txt
  encoders/video/VideoPaddleEncoder/tests/__init__.py
  encoders/video/VideoPaddleEncoder/tests/test_videopaddleencoder.py
  encoders/video/paddlehub.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#178 refactor: Script for changing manifest versions for executors
  chore_version.py
Labels: size/S, type/python

#248 chore: bump BiMatchRanker version to 0.0.2
  rankers/BiMatchRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest

#247 chore: bump MaxRanker version to 0.0.2
  rankers/MaxRanker/manifest.yml
Labels: component/ranker, size/S, type/manifest

#246 chore: bump BM25Ranker version to 0.0.2
  rankers/BM25Ranker/manifest.yml
Labels: component/ranker, size/XS, type/manifest

#245 chore: bump TfIdfRanker version to 0.0.2
  rankers/TfIdfRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest

#244 chore: bump MinRanker version to 0.0.2
  rankers/MinRanker/manifest.yml
Labels: component/ranker, size/S, type/manifest

#243 chore: bump TransformerTorchEncoder version to 0.0.2
  encoders/nlp/TransformerTorchEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#242 chore: bump FarmTextEncoder version to 0.0.2
  encoders/nlp/FarmTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#241 chore: bump OneHotTextEncoder version to 0.0.2
  encoders/nlp/OneHotTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#240 chore: bump FlairTextEncoder version to 0.0.2
  encoders/nlp/FlairTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#239 chore: bump UniversalSentenceEncoder version to 0.0.2
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#237 chore: bump TransformerTFEncoder version to 0.0.2
  encoders/nlp/TransformerTFEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#236 chore: bump ChromaPitchEncoder version to 0.0.2
  encoders/audio/ChromaPitchEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#235 chore: bump MFCCTimbreEncoder version to 0.0.2
  encoders/audio/MFCCTimbreEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#234 chore: bump FeatureAgglomerationEncoder version to 0.0.2
  encoders/numeric/FeatureAgglomerationEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#232 chore: bump IncrementalPCAEncoder version to 0.0.2
  encoders/numeric/IncrementalPCAEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#228 chore: bump ImageTorchEncoder version to 0.0.2
  encoders/image/ImageTorchEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#226 chore: bump CustomImageTorchEncoder version to 0.0.2
  encoders/image/CustomImageTorchEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#225 chore: bump ImagePaddlehubEncoder version to 0.0.2
  encoders/image/ImagePaddlehubEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#222 chore: bump Sentencizer version to 0.0.2
  crafters/nlp/Sentencizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#221 chore: bump JiebaSegmenter version to 0.0.2
  crafters/nlp/JiebaSegmenter/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#219 chore: bump SlidingWindowSegmenter version to 0.0.2
  crafters/nlp/SlidingWindowSegmenter/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#213 chore: bump ArrayStringReader version to 0.0.2
  crafters/numeric/ArrayStringReader/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#212 chore: bump ArrayBytesReader version to 0.0.2
  crafters/numeric/ArrayBytesReader/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#209 chore: bump ImageFlipper version to 0.0.2
  crafters/image/ImageFlipper/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#208 chore: bump SlidingWindowImageCropper version to 0.0.2
  crafters/image/SlidingWindowImageCropper/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#207 chore: bump RandomImageCropper version to 0.0.2
  crafters/image/RandomImageCropper/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#206 chore: bump TorchObjectDetectionSegmenter version to 0.0.2
  crafters/image/TorchObjectDetectionSegmenter/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#205 chore: bump ImageResizer version to 0.0.2
  crafters/image/ImageResizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#204 chore: bump CenterImageCropper version to 0.0.2
  crafters/image/CenterImageCropper/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#202 chore: bump ImageReader version to 0.0.2
  crafters/image/ImageReader/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#199 chore: bump FaissIndexer version to 0.0.2
  indexers/vector/FaissIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest

#197 chore: bump NGTIndexer version to 0.0.2
  indexers/vector/NGTIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest

#196 chore: bump MilvusIndexer version to 0.0.2
  chore_version.py
  indexers/vector/MilvusIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest, type/python

#195 chore: bump AnnoyIndexer version to 0.0.2
  indexers/vector/AnnoyIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest

#194 chore: bump LevelDBIndexer version to 0.0.2
  indexers/keyvalue/LevelDBIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest

#233 chore: bump FastICAEncoder version to 0.0.2
  encoders/numeric/FastICAEncoder/Dockerfile
  encoders/numeric/FastICAEncoder/manifest.yml
Labels: component/encoder, size/XS, type/dockerfile, type/manifest

#231 chore: bump TSNEEncoder version to 0.0.2
  encoders/numeric/TSNEEncoder/Dockerfile
  encoders/numeric/TSNEEncoder/manifest.yml
  encoders/numeric/TSNEEncoder/requirements.txt
Labels: component/encoder, size/S, type/dockerfile, type/manifest

#252 Migrate wave2vec encoder
  encoders/audio/Wav2VecSpeechEncoder/Dockerfile
  encoders/audio/Wav2VecSpeechEncoder/README.md
  encoders/audio/Wav2VecSpeechEncoder/__init__.py
  encoders/audio/Wav2VecSpeechEncoder/config.yml
  encoders/audio/Wav2VecSpeechEncoder/manifest.yml
  encoders/audio/Wav2VecSpeechEncoder/requirements.txt
  encoders/audio/Wav2VecSpeechEncoder/tests/__init__.py
  encoders/audio/Wav2VecSpeechEncoder/tests/test_wav2vecspeechencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#229 chore: bump RandomGaussianEncoder version to 0.0.2
  encoders/numeric/RandomGaussianEncoder/Dockerfile
  encoders/numeric/RandomGaussianEncoder/manifest.yml
Labels: component/encoder, size/XS, type/dockerfile, type/manifest

#200 chore: bump NmsLibIndexer version to 0.0.2
  indexers/vector/NmsLibIndexer/Dockerfile
  indexers/vector/NmsLibIndexer/manifest.yml
Labels: component/indexer, size/XS, type/dockerfile, type/manifest

#203 chore: bump ImageNormalizer version to 0.0.2
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageNormalizer/tests/test_imagenormalizer.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#251 refactor: migrate VideoPaddleEncoder
  encoders/video/VideoPaddleEncoder/Dockerfile
  encoders/video/VideoPaddleEncoder/__init__.py
  encoders/video/VideoPaddleEncoder/manifest.yml
  encoders/video/VideoPaddleEncoder/requirements.txt
Labels: component/encoder, size/S, type/dockerfile, type/manifest, type/python

#211 chore: bump FiveImageCropper version to 0.0.2
  crafters/image/FiveImageCropper/manifest.yml
  crafters/image/FiveImageCropper/tests/test_segmenter.py
Labels: component/crafter, size/XS, tests, type/manifest, type/python

#214 chore: bump AudioMonophoner version to 0.0.2
  crafters/audio/AudioMonophoner/Dockerfile
  crafters/audio/AudioMonophoner/manifest.yml
Labels: component/crafter, size/XS, type/dockerfile, type/manifest

#210 chore: bump ImageCropper version to 0.0.2
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-1.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-2.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-5.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-7.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-8.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-0.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-3.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-4.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-6.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-9.png
Labels: component/crafter, size/XS, type/manifest

#218 chore: bump AudioReader version to 0.0.2
  crafters/audio/AudioReader/Dockerfile
  crafters/audio/AudioReader/manifest.yml
Labels: component/crafter, size/S, type/dockerfile, type/manifest

#217 chore: bump AudioSlicer version to 0.0.2
  crafters/audio/AudioSlicer/Dockerfile
  crafters/audio/AudioSlicer/manifest.yml
Labels: component/crafter, size/XS, type/dockerfile, type/manifest

#216 chore: bump SlidingWindowAudioSlicer version to 0.0.2
  crafters/audio/SlidingWindowAudioSlicer/Dockerfile
  crafters/audio/SlidingWindowAudioSlicer/manifest.yml
Labels: component/crafter, size/XS, type/dockerfile, type/manifest

#215 chore: bump AudioNormalizer version to 0.0.2
  crafters/audio/AudioNormalizer/Dockerfile
  crafters/audio/AudioNormalizer/__init__.py
  crafters/audio/AudioNormalizer/manifest.yml
Labels: component/crafter, size/S, type/dockerfile, type/manifest, type/python

#220 chore: bump DeepSegmenter version to 0.0.2
  crafters/nlp/DeepSegmenter/manifest.yml
  crafters/nlp/DeepSegmenter/tests/test_deepsegmenter.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#230 chore: bump RandomSparseEncoder version to 0.0.2
  encoders/numeric/RandomSparseEncoder/Dockerfile
  encoders/numeric/RandomSparseEncoder/manifest.yml
  encoders/numeric/RandomSparseEncoder/tests/test_randomsparseencoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#256 refactor: wrong function name
  encoders/numeric/RandomSparseEncoder/tests/test_randomsparseencoder.py
Labels: component/encoder, size/XS, tests, type/python

#201 chore: bump ScannIndexer version to 0.0.2
  indexers/vector/ScannIndexer/manifest.yml
Labels: component/crafter, component/encoder, component/indexer, size/XS, tests, type/dockerfile, type/manifest, type/python

#250 refactor ImageOnnxEncoder 249
  encoders/image/OnnxImageEncoder/Dockerfile
  encoders/image/OnnxImageEncoder/README.md
  encoders/image/OnnxImageEncoder/__init__.py
  encoders/image/OnnxImageEncoder/config.yml
  encoders/image/OnnxImageEncoder/download.sh
  encoders/image/OnnxImageEncoder/manifest.yml
  encoders/image/OnnxImageEncoder/tests/test_onnx_encoder.py
Labels: component/encoder, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#238 chore: bump TextPaddlehubEncoder version to 0.0.2
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
Labels: component/encoder, size/XS, type/dockerfile, type/manifest

#255 refactor: migrate keras image encoder
  encoders/image/KerasImageEncoder/Dockerfile
  encoders/image/KerasImageEncoder/README.md
  encoders/image/KerasImageEncoder/__init__.py
  encoders/image/KerasImageEncoder/config.yml
  encoders/image/KerasImageEncoder/manifest.yml
  encoders/image/KerasImageEncoder/requirements.txt
  encoders/image/KerasImageEncoder/tests/__init__.py
  encoders/image/KerasImageEncoder/tests/test_tfkeras.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#198 chore: bump SptagIndexer version to 0.0.2
  indexers/vector/SptagIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest

#227 chore: bump BigTransferEncoder version to 0.0.2
  encoders/image/BigTransferEncoder/manifest.yml
  encoders/image/BigTransferEncoder/requirements.txt
Labels: component/encoder, size/S, type/manifest

#253 refactor: added video torch encoder
  encoders/video/VideoTorchEncoder/Dockerfile
  encoders/video/VideoTorchEncoder/README.md
  encoders/video/VideoTorchEncoder/__init__.py
  encoders/video/VideoTorchEncoder/config.yml
  encoders/video/VideoTorchEncoder/manifest.yml
  encoders/video/VideoTorchEncoder/requirements.txt
  encoders/video/VideoTorchEncoder/tests/__init__.py
  encoders/video/VideoTorchEncoder/tests/test_videotorchencoder.py
  encoders/video/torchvision.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#258 feat: add laser encoder
  encoders/nlp/LaserEncoder/Dockerfile
  encoders/nlp/LaserEncoder/README.md
  encoders/nlp/LaserEncoder/__init__.py
  encoders/nlp/LaserEncoder/config.yml
  encoders/nlp/LaserEncoder/manifest.yml
  encoders/nlp/LaserEncoder/requirements.txt
  encoders/nlp/LaserEncoder/tests/__init__.py
  encoders/nlp/LaserEncoder/tests/test_laserencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#224 chore: bump OnnxImageEncoder version to 0.0.2
  encoders/image/OnnxImageEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#322 refactor: rename the KerasImageEncoder to ImageKerasEncoder
  encoders/image/ImageKerasEncoder/Dockerfile
  encoders/image/ImageKerasEncoder/README.md
  encoders/image/ImageKerasEncoder/__init__.py
  encoders/image/ImageKerasEncoder/config.yml
  encoders/image/ImageKerasEncoder/manifest.yml
  encoders/image/ImageKerasEncoder/requirements.txt
  encoders/image/ImageKerasEncoder/tests/__init__.py
  encoders/image/ImageKerasEncoder/tests/test_tfkeras.py
  encoders/image/KerasImageEncoder/README.md
  encoders/image/KerasImageEncoder/config.yml
  encoders/image/KerasImageEncoder/manifest.yml
Labels: component/encoder, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#324 refactor: rename the OnnxImageEncoder to ImageOnnxEncoder
  encoders/image/ImageOnnxEncoder/Dockerfile
  encoders/image/ImageOnnxEncoder/README.md
  encoders/image/ImageOnnxEncoder/__init__.py
  encoders/image/ImageOnnxEncoder/config.yml
  encoders/image/ImageOnnxEncoder/manifest.yml
  encoders/image/ImageOnnxEncoder/requirements.txt
  encoders/image/ImageOnnxEncoder/tests/__init__.py
  encoders/image/ImageOnnxEncoder/tests/test_onnx_encoder.py
Labels: component/encoder, size/XS, tests, type/config, type/dockerfile, type/manifest, type/python

#321 fix: laser and scan import
  encoders/nlp/LaserEncoder/__init__.py
  encoders/nlp/LaserEncoder/manifest.yml
  encoders/nlp/LaserEncoder/tests/test_laserencoder.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/vector/ScannIndexer/__init__.py
  indexers/vector/ScannIndexer/manifest.yml
Labels: component/encoder, component/indexer, size/S, tests, type/manifest, type/python

#295 chore: bump BigTransferEncoder version to 0.0.3
  encoders/image/BigTransferEncoder/Dockerfile
  encoders/image/BigTransferEncoder/__init__.py
  encoders/image/BigTransferEncoder/download.sh
  encoders/image/BigTransferEncoder/manifest.yml
  encoders/image/BigTransferEncoder/requirements.txt
  encoders/image/BigTransferEncoder/tests/test_bigtransferencoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#319 refactor: migrate custom keras image encoder
  encoders/image/CustomKerasImageEncoder/Dockerfile
  encoders/image/CustomKerasImageEncoder/README.md
  encoders/image/CustomKerasImageEncoder/__init__.py
  encoders/image/CustomKerasImageEncoder/config.yml
  encoders/image/CustomKerasImageEncoder/manifest.yml
  encoders/image/CustomKerasImageEncoder/requirements.txt
  encoders/image/CustomKerasImageEncoder/tests/__init__.py
  encoders/image/CustomKerasImageEncoder/tests/test_customtfkeras.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#325 refactor(encoders): remove redundant docker instructions
  encoders/image/BigTransferEncoder/Dockerfile
  encoders/image/ImageKerasEncoder/Dockerfile
  encoders/image/ImageKerasEncoder/requirements.txt
Labels: component/encoder, size/S, type/dockerfile

#327 Fix encoder nlp transformer 192
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/requirements.txt
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/requirements.txt
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#289 chore: bump VideoTorchEncoder version to 0.0.2
  encoders/video/VideoTorchEncoder/Dockerfile
  encoders/video/VideoTorchEncoder/__init__.py
  encoders/video/VideoTorchEncoder/manifest.yml
  encoders/video/VideoTorchEncoder/requirements.txt
  encoders/video/VideoTorchEncoder/tests/test_videotorchencoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python
