Repository jina-ai/jina-hub, pull requests merged in 2020-12, with the labels that each got.

#486 feat: add general Minkowski distance evaluator
  evaluators/embedding/MinkowskiDistanceEvaluator/Dockerfile
  evaluators/embedding/MinkowskiDistanceEvaluator/README.md
  evaluators/embedding/MinkowskiDistanceEvaluator/__init__.py
  evaluators/embedding/MinkowskiDistanceEvaluator/config.yml
  evaluators/embedding/MinkowskiDistanceEvaluator/manifest.yml
  evaluators/embedding/MinkowskiDistanceEvaluator/requirements.txt
  evaluators/embedding/MinkowskiDistanceEvaluator/tests/__init__.py
  evaluators/embedding/MinkowskiDistanceEvaluator/tests/test_minkowskidistance.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#1229 refactor: add new Document type
  crafters/nlp/PDFExtractorSegmenter/tests/test_pdf_flow.py
Labels: component/crafter, size/S, tests, type/python

#1182 docs: update links
  README.md
Labels: size/XS

#1232 feat: add update and delete to mongodbindexer
  indexers/keyvalue/MongoDBIndexer/__init__.py
  indexers/keyvalue/MongoDBIndexer/manifest.yml
  indexers/keyvalue/MongoDBIndexer/mongodbhandler.py
  indexers/keyvalue/MongoDBIndexer/tests/test_mongodbindexer.py
Labels: component/indexer, size/M, tests, type/manifest, type/python

#1234 Feat redis update and delete
  indexers/keyvalue/RedisDBIndexer/Dockerfile
  indexers/keyvalue/RedisDBIndexer/__init__.py
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/requirements.txt
  indexers/keyvalue/RedisDBIndexer/tests/test_redisdbindexer.py
  indexers/keyvalue/RedisDBIndexer/tests/yaml/test-redis.yml
Labels: component/crafter, component/indexer, size/M, tests, type/dockerfile, type/manifest, type/python

#1281 refactor: remove mean reciprocal rank evaluator
  evaluators/rank/MeanReciprocalRankEvaluator/Dockerfile
  evaluators/rank/MeanReciprocalRankEvaluator/README.md
  evaluators/rank/MeanReciprocalRankEvaluator/__init__.py
  evaluators/rank/MeanReciprocalRankEvaluator/config.yml
  evaluators/rank/MeanReciprocalRankEvaluator/manifest.yml
  evaluators/rank/MeanReciprocalRankEvaluator/requirements.txt
  evaluators/rank/MeanReciprocalRankEvaluator/tests/__init__.py
  evaluators/rank/MeanReciprocalRankEvaluator/tests/test_meanreciprocalrankevaluator.py
Labels: size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#1231 feat(leveldbindexer): update and delete
  indexers/keyvalue/LevelDBIndexer/Dockerfile
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/requirements.txt
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
Labels: component/indexer, size/M, tests, type/dockerfile, type/manifest, type/python

#1285 fix: update transformer encoders for v4 of transformers library
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/requirements.txt
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/requirements.txt
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#1286 feat: add layer_index param to transformer encoders
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#752 fix: hide import vse image
  encoders/image/VSEImageEncoder/__init__.py
  encoders/image/VSEImageEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest, type/python

#751 fix: hide import vse text
  encoders/nlp/VSETextEncoder/__init__.py
  encoders/nlp/VSETextEncoder/manifest.yml
  encoders/nlp/VSETextEncoder/vocab.py
Labels: component/encoder, size/S, type/manifest, type/python

#1290 fix: hide external dependencies imports
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest, type/python

#1280 feat: add update / delete to faiss indexer
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#1282 feat: update/delete for annoy indexer
  indexers/vector/AnnoyIndexer/__init__.py
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/tests/test_annoyindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#753 fix: change default transformer model to distilbert
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#1289 fix: train_filepath can be none and loaded from binary
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/M, tests, type/manifest, type/python

#1135 feat: add tirg image encoder
  encoders/image/TirgImageEncoder/Dockerfile
  encoders/image/TirgImageEncoder/README.md
  encoders/image/TirgImageEncoder/__init__.py
  encoders/image/TirgImageEncoder/config.yml
  encoders/image/TirgImageEncoder/datasets.py
  encoders/image/TirgImageEncoder/img_text_composition_models.py
  encoders/image/TirgImageEncoder/manifest.yml
  encoders/image/TirgImageEncoder/requirements.txt
  encoders/image/TirgImageEncoder/tests/__init__.py
  encoders/image/TirgImageEncoder/tests/expected.npy
  encoders/image/TirgImageEncoder/tests/imgs/0.jpeg
  encoders/image/TirgImageEncoder/tests/imgs/1.jpeg
  encoders/image/TirgImageEncoder/tests/imgs/2.jpeg
  encoders/image/TirgImageEncoder/tests/imgs/3.jpeg
  encoders/image/TirgImageEncoder/tests/test_tirg_image_encoder.py
  encoders/image/TirgImageEncoder/text_model.py
  encoders/image/TirgImageEncoder/torch_functions.py
Labels: component/encoder, size/XL, tests, type/config, type/dockerfile, type/manifest, type/python

#1136 feat: add tirg multimodal encoder
  encoders/multimodal/TirgMultimodalEncoder/Dockerfile
  encoders/multimodal/TirgMultimodalEncoder/README.md
  encoders/multimodal/TirgMultimodalEncoder/__init__.py
  encoders/multimodal/TirgMultimodalEncoder/config.yml
  encoders/multimodal/TirgMultimodalEncoder/datasets.py
  encoders/multimodal/TirgMultimodalEncoder/img_text_composition_models.py
  encoders/multimodal/TirgMultimodalEncoder/manifest.yml
  encoders/multimodal/TirgMultimodalEncoder/requirements.txt
  encoders/multimodal/TirgMultimodalEncoder/tests/__init__.py
  encoders/multimodal/TirgMultimodalEncoder/tests/expected.npy
  encoders/multimodal/TirgMultimodalEncoder/tests/imgs/0.jpeg
  encoders/multimodal/TirgMultimodalEncoder/tests/imgs/1.jpeg
  encoders/multimodal/TirgMultimodalEncoder/tests/imgs/2.jpeg
  encoders/multimodal/TirgMultimodalEncoder/tests/imgs/3.jpeg
  encoders/multimodal/TirgMultimodalEncoder/tests/test_tirg_multimodal_encoder.py
  encoders/multimodal/TirgMultimodalEncoder/text_model.py
  encoders/multimodal/TirgMultimodalEncoder/torch_functions.py
  encoders/multimodal/__init__.py
Labels: component/encoder, size/XL, tests, type/config, type/dockerfile, type/manifest, type/python

#1345 add normalization option for FaissIndexer
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#1300 ci: specify comparison level
  .github/workflows/update-test.yml
Labels: area/cicd, area/housekeeping, size/XS

#1344 perf: improve performance of TransformerTorchEncoder and refactor code
  encoders/nlp/TransformerTorchEncoder/Dockerfile
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/bert-base-uncased-cls--1.npy
  encoders/nlp/TransformerTorchEncoder/tests/bert-base-uncased-cls--2.npy
  encoders/nlp/TransformerTorchEncoder/tests/bert-base-uncased-max--1.npy
  encoders/nlp/TransformerTorchEncoder/tests/bert-base-uncased-max--2.npy
  encoders/nlp/TransformerTorchEncoder/tests/bert-base-uncased-mean--1.npy
  encoders/nlp/TransformerTorchEncoder/tests/bert-base-uncased-mean--2.npy
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/M, tests, type/dockerfile, type/manifest, type/python

#1342 refactor: hash to id for hub
  rankers/BM25Ranker/__init__.py
  rankers/BM25Ranker/manifest.yml
  rankers/BM25Ranker/tests/test_bm25ranker.py
  rankers/BiMatchRanker/__init__.py
  rankers/BiMatchRanker/manifest.yml
  rankers/BiMatchRanker/tests/test_bimatchranker.py
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/tests/test_levenshteinranker.py
  rankers/MaxRanker/manifest.yml
  rankers/MaxRanker/tests/test_maxranker.py
  rankers/MinRanker/manifest.yml
  rankers/MinRanker/tests/test_minranker.py
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/SimpleAggregateRanker/tests/test_aggregate_ranker.py
  rankers/TfIdfRanker/__init__.py
  rankers/TfIdfRanker/manifest.yml
  rankers/TfIdfRanker/tests/test_tfidfranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#1346 fix: fix module deepsegmenter
  crafters/nlp/DeepSegmenter/manifest.yml
  crafters/nlp/DeepSegmenter/requirements.txt
Labels: component/crafter, size/XS, type/manifest

#1359 fix: fix versions TextPaddlehubEncoder
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
  encoders/nlp/TextPaddlehubEncoder/requirements.txt
Labels: component/encoder, size/S, type/manifest

#1360 fix: fix multimodal tirg imports
  encoders/multimodal/TirgMultimodalEncoder/README.md
  encoders/multimodal/TirgMultimodalEncoder/__init__.py
  encoders/multimodal/TirgMultimodalEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest, type/python

#1478 fix: fix torch encoder
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/requirements.txt
Labels: component/encoder, size/S, type/manifest, type/python

#1486 feat: torch transformer acceleration
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#1482 fix: fix reciprocal rank evaluator
  evaluators/rank/ReciprocalRankEvaluator/__init__.py
  evaluators/rank/ReciprocalRankEvaluator/manifest.yml
  evaluators/rank/ReciprocalRankEvaluator/tests/test_reciprocalrankevaluator.py
Labels: size/S, tests, type/manifest, type/python

#1479 fix: fix ImageReader
  crafters/image/ImageReader/Dockerfile
  crafters/image/ImageReader/manifest.yml
Labels: component/crafter, size/XS, type/dockerfile, type/manifest

#1480 fix: fix tika extractor
  crafters/nlp/TikaExtractor/__init__.py
  crafters/nlp/TikaExtractor/manifest.yml
  crafters/nlp/TikaExtractor/requirements.txt
Labels: component/crafter, size/XS, type/manifest, type/python

#1481 fix: fix f1score evaluator
  evaluators/embedding/__init__.py
  evaluators/rank/f1ScoreEvaluator/__init__.py
  evaluators/rank/f1ScoreEvaluator/manifest.yml
  evaluators/rank/f1ScoreEvaluator/requirements.txt
  evaluators/rank/f1ScoreEvaluator/tests/test_f1score.py
  evaluators/text/__init__.py
Labels: size/S, tests, type/manifest, type/python

#1484 fix: fix text paddle hub encoder
  encoders/nlp/TextPaddlehubEncoder/Dockerfile
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
Labels: component/encoder, size/XS, type/dockerfile, type/manifest

#1485 fix: fix eval at ranking evaluators
  evaluators/rank/AveragePrecision/__init__.py
  evaluators/rank/AveragePrecision/manifest.yml
  evaluators/rank/NdcgEvaluator/__init__.py
  evaluators/rank/NdcgEvaluator/mainfest.yml
Labels: size/S, type/manifest, type/python

#1498 refactor: move model loading to post init for TorchTransformer
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#1501 fix: fix output shape
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#1505 fix: tf encoder remove jina from requirements
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1526 refactor: tf transformer module and tests
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/tests/bert-base-uncased-cls--1.npy
  encoders/nlp/TransformerTFEncoder/tests/bert-base-uncased-cls--2.npy
  encoders/nlp/TransformerTFEncoder/tests/bert-base-uncased-max--1.npy
  encoders/nlp/TransformerTFEncoder/tests/bert-base-uncased-max--2.npy
  encoders/nlp/TransformerTFEncoder/tests/bert-base-uncased-mean--1.npy
  encoders/nlp/TransformerTFEncoder/tests/bert-base-uncased-mean--2.npy
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#1527 refactor: remove redundant imports in TF transformer
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest, type/python

#1524 fix: sptag indexer remove jina from requirements
  indexers/vector/SptagIndexer/manifest.yml
  indexers/vector/SptagIndexer/requirements.txt
Labels: component/indexer, size/XS, type/dockerfile, type/manifest

#1525 fix: nmslib remove jina from requirements
  indexers/vector/NmsLibIndexer/Dockerfile
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/requirements.txt
Labels: component/indexer, size/XS, type/dockerfile, type/manifest

#1519 fix: NGTIndexer remove jina from requirements
  indexers/vector/NGTIndexer/manifest.yml
  indexers/vector/NGTIndexer/requirements.txt
Labels: component/indexer, size/XS, type/dockerfile, type/manifest

#1522 fix: torch object detection segmenter remove jina from requirements
  crafters/image/TorchObjectDetectionSegmenter/manifest.yml
  crafters/image/TorchObjectDetectionSegmenter/requirements.txt
Labels: component/crafter, size/XS, type/manifest

#1521 fix: evaluators remove jina from requirements
  evaluators/embedding/InfiniteNormEvaluator/Dockerfile
  evaluators/embedding/InfiniteNormEvaluator/manifest.yml
  evaluators/embedding/InfiniteNormEvaluator/requirements.txt
  evaluators/embedding/L1NormEvaluator/Dockerfile
  evaluators/embedding/L1NormEvaluator/manifest.yml
  evaluators/embedding/L1NormEvaluator/requirements.txt
  evaluators/embedding/MinkowskiDistanceEvaluator/Dockerfile
  evaluators/embedding/MinkowskiDistanceEvaluator/manifest.yml
  evaluators/embedding/MinkowskiDistanceEvaluator/requirements.txt
  evaluators/rank/AveragePrecision/Dockerfile
  evaluators/rank/AveragePrecision/manifest.yml
  evaluators/rank/AveragePrecision/requirements.txt
  evaluators/rank/NdcgEvaluator/Dockerfile
  evaluators/rank/NdcgEvaluator/mainfest.yml
  evaluators/rank/NdcgEvaluator/requirements.txt
  evaluators/rank/ReciprocalRankEvaluator/Dockerfile
  evaluators/rank/ReciprocalRankEvaluator/manifest.yml
  evaluators/rank/ReciprocalRankEvaluator/requirements.txt
  evaluators/rank/f1ScoreEvaluator/Dockerfile
  evaluators/rank/f1ScoreEvaluator/manifest.yml
  evaluators/rank/f1ScoreEvaluator/requirements.txt
  evaluators/text/BleuEvaluator/manifest.yml
  evaluators/text/BleuEvaluator/requirements.txt
  evaluators/text/EditDistanceEvaluator/manifest.yml
  evaluators/text/EditDistanceEvaluator/requirements.txt
  evaluators/text/GleuEvaluator/manifest.yml
  evaluators/text/GleuEvaluator/requirements.txt
  evaluators/text/HammingDistanceEvaluator/Dockerfile
  evaluators/text/HammingDistanceEvaluator/manifest.yml
  evaluators/text/HammingDistanceEvaluator/requirements.txt
  evaluators/text/JaccardSimilarityEvaluator/Dockerfile
  evaluators/text/JaccardSimilarityEvaluator/manifest.yml
  evaluators/text/JaccardSimilarityEvaluator/requirements.txt
  evaluators/text/RougeEvaluator/manifest.yml
  evaluators/text/RougeEvaluator/requirements.txt
Labels: size/S, type/dockerfile, type/manifest

#1520 fix: rankers remove jina from requirements
  rankers/BM25Ranker/Dockerfile
  rankers/BM25Ranker/manifest.yml
  rankers/BM25Ranker/requirements.txt
  rankers/BiMatchRanker/Dockerfile
  rankers/BiMatchRanker/manifest.yml
  rankers/BiMatchRanker/requirements.txt
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/requirements.txt
  rankers/MaxRanker/Dockerfile
  rankers/MaxRanker/manifest.yml
  rankers/MaxRanker/requirements.txt
  rankers/MinRanker/Dockerfile
  rankers/MinRanker/manifest.yml
  rankers/MinRanker/requirements.txt
  rankers/SimpleAggregateRanker/Dockerfile
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/SimpleAggregateRanker/requirements.txt
  rankers/TfIdfRanker/Dockerfile
  rankers/TfIdfRanker/manifest.yml
  rankers/TfIdfRanker/requirements.txt
Labels: component/ranker, size/S, type/dockerfile, type/manifest

#1518 fix: kv indexers remove jina from requirements
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/requirements.txt
  indexers/keyvalue/RedisDBIndexer/Dockerfile
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/requirements.txt
Labels: component/indexer, size/XS, type/dockerfile, type/manifest

#1512 fix: crafter nlp remove jina from requirements
  crafters/nlp/DeepSegmenter/manifest.yml
  crafters/nlp/DeepSegmenter/requirements.txt
  crafters/nlp/JiebaSegmenter/manifest.yml
  crafters/nlp/JiebaSegmenter/requirements.txt
  crafters/nlp/PDFExtractorSegmenter/manifest.yml
  crafters/nlp/PDFExtractorSegmenter/requirements.txt
  crafters/nlp/PDFExtractorSegmenter/tests/test_pdf_flow.py
  crafters/nlp/Sentencizer/Dockerfile
  crafters/nlp/Sentencizer/manifest.yml
  crafters/nlp/Sentencizer/requirements.txt
  crafters/nlp/SlidingWindowSegmenter/Dockerfile
  crafters/nlp/SlidingWindowSegmenter/manifest.yml
  crafters/nlp/SlidingWindowSegmenter/requirements.txt
Labels: component/crafter, size/S, tests, type/dockerfile, type/manifest, type/python

#1517 fix: encoder video remove jina from requirements
  encoders/video/VideoPaddleEncoder/manifest.yml
  encoders/video/VideoPaddleEncoder/requirements.txt
  encoders/video/VideoTorchEncoder/manifest.yml
  encoders/video/VideoTorchEncoder/requirements.txt
Labels: component/encoder, size/S, type/manifest

#1516 fix: encoder numeric remove jina from requirements
  encoders/numeric/CompressionVaeEncoder/manifest.yml
  encoders/numeric/CompressionVaeEncoder/requirements.txt
  encoders/numeric/FastICAEncoder/manifest.yml
  encoders/numeric/FastICAEncoder/requirements.txt
  encoders/numeric/FeatureAgglomerationEncoder/manifest.yml
  encoders/numeric/FeatureAgglomerationEncoder/requirements.txt
  encoders/numeric/IncrementalPCAEncoder/manifest.yml
  encoders/numeric/IncrementalPCAEncoder/requirements.txt
  encoders/numeric/TSNEEncoder/manifest.yml
  encoders/numeric/TSNEEncoder/requirements.txt
Labels: component/encoder, size/S, type/manifest

#1515 fix: encoder image remove jina from requirements
  encoders/image/ImagePaddlehubEncoder/manifest.yml
  encoders/image/ImagePaddlehubEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1514 fix: encoder audio remove jina from requirements
  encoders/audio/ChromaPitchEncoder/manifest.yml
  encoders/audio/ChromaPitchEncoder/requirements.txt
  encoders/audio/MFCCTimbreEncoder/manifest.yml
  encoders/audio/MFCCTimbreEncoder/requirements.txt
  encoders/audio/Wav2VecSpeechEncoder/manifest.yml
  encoders/audio/Wav2VecSpeechEncoder/requirements.txt
Labels: component/encoder, size/S, type/manifest

#1513 fix: crafter numeric remove jina from requirements
  crafters/numeric/ArrayBytesReader/Dockerfile
  crafters/numeric/ArrayBytesReader/manifest.yml
  crafters/numeric/ArrayBytesReader/requirements.txt
  crafters/numeric/ArrayStringReader/Dockerfile
  crafters/numeric/ArrayStringReader/manifest.yml
  crafters/numeric/ArrayStringReader/requirements.txt
Labels: component/crafter, size/S, type/dockerfile, type/manifest

#1511 fix: image crafters remove jina from requirements
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/CenterImageCropper/requirements.txt
  crafters/image/FiveImageCropper/manifest.yml
  crafters/image/FiveImageCropper/requirements.txt
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageCropper/requirements.txt
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageFlipper/requirements.txt
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageNormalizer/requirements.txt
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageReader/requirements.txt
  crafters/image/ImageResizer/manifest.yml
  crafters/image/ImageResizer/requirements.txt
  crafters/image/RandomImageCropper/manifest.yml
  crafters/image/RandomImageCropper/requirements.txt
  crafters/image/SlidingWindowImageCropper/manifest.yml
  crafters/image/SlidingWindowImageCropper/requirements.txt
Labels: component/crafter, size/S, type/manifest

#1509 fix: universal sentence encoder remove jina from requirements
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
  encoders/nlp/UniversalSentenceEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1508 fix: one hot encoder remove jina from requirements
  encoders/nlp/OneHotTextEncoder/Dockerfile
  encoders/nlp/OneHotTextEncoder/manifest.yml
  encoders/nlp/OneHotTextEncoder/requirements.txt
Labels: component/encoder, size/XS, type/dockerfile, type/manifest

#1510 fix: audio crafters remove jina from requirements
  crafters/audio/AudioMonophoner/manifest.yml
  crafters/audio/AudioMonophoner/requirements.txt
  crafters/audio/AudioNormalizer/manifest.yml
  crafters/audio/AudioNormalizer/requirements.txt
  crafters/audio/AudioReader/requirements.txt
  crafters/audio/AudioSlicer/manifest.yml
  crafters/audio/AudioSlicer/requirements.txt
  crafters/audio/SlidingWindowAudioSlicer/manifest.yml
  crafters/audio/SlidingWindowAudioSlicer/requirements.txt
Labels: component/crafter, size/S, type/manifest

#1507 fix: farm and flair encoder remove jina from requirements
  encoders/nlp/FarmTextEncoder/manifest.yml
  encoders/nlp/FarmTextEncoder/requirements.txt
  encoders/nlp/FlairTextEncoder/manifest.yml
  encoders/nlp/FlairTextEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1606 remove unused mock
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/tests/test_redisdbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#1607 fix: set proper batching multi input num_data
  encoders/multimodal/TirgMultimodalEncoder/__init__.py
  encoders/multimodal/TirgMultimodalEncoder/manifest.yml
  encoders/multimodal/TirgMultimodalEncoder/tests/test_tirg_multimodal_encoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#1608 fix: fix the required_keys
  rankers/BM25Ranker/__init__.py
  rankers/BM25Ranker/manifest.yml
Labels: component/ranker, size/XS, type/manifest, type/python
