Repository jina-ai/jina-hub, pull requests merged in 2020-11, with the labels that each got.

#464 feat: add edit distance evaluator
  evaluators/text/EditDistanceEvaluator/Dockerfile
  evaluators/text/EditDistanceEvaluator/README.md
  evaluators/text/EditDistanceEvaluator/__init__.py
  evaluators/text/EditDistanceEvaluator/config.yml
  evaluators/text/EditDistanceEvaluator/manifest.yml
  evaluators/text/EditDistanceEvaluator/requirements.txt
  evaluators/text/EditDistanceEvaluator/tests/__init__.py
  evaluators/text/EditDistanceEvaluator/tests/test_editdistanceevaluator.py
Labels: hacktoberfest, hacktoberfest2020, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#466 feat: add reciprocal rank evaluator
  evaluators/rank/ReciprocalRankEvaluator/Dockerfile
  evaluators/rank/ReciprocalRankEvaluator/README.md
  evaluators/rank/ReciprocalRankEvaluator/__init__.py
  evaluators/rank/ReciprocalRankEvaluator/config.yml
  evaluators/rank/ReciprocalRankEvaluator/manifest.yml
  evaluators/rank/ReciprocalRankEvaluator/requirements.txt
  evaluators/rank/ReciprocalRankEvaluator/tests/__init__.py
  evaluators/rank/ReciprocalRankEvaluator/tests/test_reciprocalrankevaluator.py
Labels: hacktoberfest, hacktoberfest2020, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#463 feat: add rouge evaluator
  evaluators/text/RougeEvaluator/Dockerfile
  evaluators/text/RougeEvaluator/README.md
  evaluators/text/RougeEvaluator/__init__.py
  evaluators/text/RougeEvaluator/config.yml
  evaluators/text/RougeEvaluator/manifest.yml
  evaluators/text/RougeEvaluator/requirements.txt
  evaluators/text/RougeEvaluator/tests/__init__.py
  evaluators/text/RougeEvaluator/tests/test_rouge_evaluator.py
Labels: hacktoberfest, hacktoberfest2020, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#469 feat: add f1 score eval
  evaluators/rank/f1ScoreEvaluator/Dockerfile
  evaluators/rank/f1ScoreEvaluator/README.md
  evaluators/rank/f1ScoreEvaluator/__init__.py
  evaluators/rank/f1ScoreEvaluator/config.yml
  evaluators/rank/f1ScoreEvaluator/manifest.yml
  evaluators/rank/f1ScoreEvaluator/requirements.txt
  evaluators/rank/f1ScoreEvaluator/tests/__init__.py
  evaluators/rank/f1ScoreEvaluator/tests/test_f1score.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#476 fix: hide requests import
  crafters/nlp/TikaExtractor/__init__.py
  crafters/nlp/TikaExtractor/manifest.yml
Labels: component/crafter, hacktoberfest, hacktoberfest2020, type/manifest, type/python

#475 docs: add hint that this requires docker
  README.md
Labels: size/XS

#477 feat: add mrr evaluator
  evaluators/rank/MeanReciprocalRankEvaluator/Dockerfile
  evaluators/rank/MeanReciprocalRankEvaluator/README.md
  evaluators/rank/MeanReciprocalRankEvaluator/__init__.py
  evaluators/rank/MeanReciprocalRankEvaluator/config.yml
  evaluators/rank/MeanReciprocalRankEvaluator/manifest.yml
  evaluators/rank/MeanReciprocalRankEvaluator/requirements.txt
  evaluators/rank/MeanReciprocalRankEvaluator/tests/__init__.py
  evaluators/rank/MeanReciprocalRankEvaluator/tests/test_meanreciprocalrankevaluator.py
Labels: hacktoberfest, hacktoberfest2020, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#462 feat: add bleu evaluator
  evaluators/text/BleuEvaluator/Dockerfile
  evaluators/text/BleuEvaluator/README.md
  evaluators/text/BleuEvaluator/__init__.py
  evaluators/text/BleuEvaluator/config.yml
  evaluators/text/BleuEvaluator/manifest.yml
  evaluators/text/BleuEvaluator/requirements.txt
  evaluators/text/BleuEvaluator/tests/__init__.py
  evaluators/text/BleuEvaluator/tests/test_bleuevaluator.py
Labels: hacktoberfest, hacktoberfest2020, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#471 feat: add infinite norm as embedding evaluator
  evaluators/embedding/InfiniteNormEvaluator/Dockerfile
  evaluators/embedding/InfiniteNormEvaluator/README.md
  evaluators/embedding/InfiniteNormEvaluator/__init__.py
  evaluators/embedding/InfiniteNormEvaluator/config.yml
  evaluators/embedding/InfiniteNormEvaluator/manifest.yml
  evaluators/embedding/InfiniteNormEvaluator/requirements.txt
  evaluators/embedding/InfiniteNormEvaluator/tests/__init__.py
  evaluators/embedding/InfiniteNormEvaluator/tests/test_infinitenorm.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#470 feat: add l1norm embedding evaluator
  evaluators/embedding/L1NormEvaluator/Dockerfile
  evaluators/embedding/L1NormEvaluator/README.md
  evaluators/embedding/L1NormEvaluator/__init__.py
  evaluators/embedding/L1NormEvaluator/config.yml
  evaluators/embedding/L1NormEvaluator/manifest.yml
  evaluators/embedding/L1NormEvaluator/requirements.txt
  evaluators/embedding/L1NormEvaluator/tests/__init__.py
  evaluators/embedding/L1NormEvaluator/tests/test_l1norm.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#461 feat: setup ndcg evaluator
  evaluators/__init__.py
  evaluators/rank/NdcgEvaluator/Dockerfile
  evaluators/rank/NdcgEvaluator/README.md
  evaluators/rank/NdcgEvaluator/__init__.py
  evaluators/rank/NdcgEvaluator/config.yml
  evaluators/rank/NdcgEvaluator/mainfest.yml
  evaluators/rank/NdcgEvaluator/requirements.txt
  evaluators/rank/NdcgEvaluator/tests/__init__.py
  evaluators/rank/NdcgEvaluator/tests/test_ndcg_evaluator.py
  evaluators/rank/__init__.py
Labels: hacktoberfest, hacktoberfest2020, size/M, tests, type/config, type/dockerfile, type/python

#480 feat: add gleu evaluator
  evaluators/text/GleuEvaluator/Dockerfile
  evaluators/text/GleuEvaluator/README.md
  evaluators/text/GleuEvaluator/__init__.py
  evaluators/text/GleuEvaluator/config.yml
  evaluators/text/GleuEvaluator/manifest.yml
  evaluators/text/GleuEvaluator/requirements.txt
  evaluators/text/GleuEvaluator/tests/__init__.py
  evaluators/text/GleuEvaluator/tests/test_gleuevaluator.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#474 feat(evaluator): add average precision
  evaluators/rank/AveragePrecision/Dockerfile
  evaluators/rank/AveragePrecision/README.md
  evaluators/rank/AveragePrecision/__init__.py
  evaluators/rank/AveragePrecision/config.yml
  evaluators/rank/AveragePrecision/manifest.yml
  evaluators/rank/AveragePrecision/requirements.txt
  evaluators/rank/AveragePrecision/tests/__init__.py
  evaluators/rank/AveragePrecision/tests/test_averageprecisionevaluator.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#487 chore: remove the hacktoberfest
  .github/workflows/hacktoberfest.yml
Labels: area/cicd, area/housekeeping, size/S

#481 feat(hub): ranker for aggregation functions
  rankers/MaxRanker/__init__.py
  rankers/MaxRanker/manifest.yml
  rankers/MinRanker/__init__.py
  rankers/MinRanker/manifest.yml
  rankers/SimpleAggregateRanker/Dockerfile
  rankers/SimpleAggregateRanker/README.md
  rankers/SimpleAggregateRanker/__init__.py
  rankers/SimpleAggregateRanker/config.yml
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/SimpleAggregateRanker/requirements.txt
  rankers/SimpleAggregateRanker/tests/__init__.py
  rankers/SimpleAggregateRanker/tests/test_aggregate_ranker.py
Labels: component/ranker, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#484 feat: add Jaccard similarity evaluator
  evaluators/text/JaccardSimilarityEvaluator/Dockerfile
  evaluators/text/JaccardSimilarityEvaluator/README.md
  evaluators/text/JaccardSimilarityEvaluator/__init__.py
  evaluators/text/JaccardSimilarityEvaluator/config.yml
  evaluators/text/JaccardSimilarityEvaluator/manifest.yml
  evaluators/text/JaccardSimilarityEvaluator/requirements.txt
  evaluators/text/JaccardSimilarityEvaluator/tests/__init__.py
  evaluators/text/JaccardSimilarityEvaluator/tests/test_jaccardsimilarityevaluator.py
Labels: size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#489 feat: add VSETextEncoder from cxmodal
  encoders/nlp/VSETextEncoder/Dockerfile
  encoders/nlp/VSETextEncoder/README.md
  encoders/nlp/VSETextEncoder/__init__.py
  encoders/nlp/VSETextEncoder/config.yml
  encoders/nlp/VSETextEncoder/manifest.yml
  encoders/nlp/VSETextEncoder/model.py
  encoders/nlp/VSETextEncoder/requirements.txt
  encoders/nlp/VSETextEncoder/tests/__init__.py
  encoders/nlp/VSETextEncoder/tests/expected.npy
  encoders/nlp/VSETextEncoder/tests/test_vsetextencoder.py
  encoders/nlp/VSETextEncoder/vocab.py
Labels: component/encoder, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#488 feat: add VSEImageEncoder from cxmodal
  encoders/image/VSEImageEncoder/Dockerfile
  encoders/image/VSEImageEncoder/README.md
  encoders/image/VSEImageEncoder/__init__.py
  encoders/image/VSEImageEncoder/config.yml
  encoders/image/VSEImageEncoder/manifest.yml
  encoders/image/VSEImageEncoder/model.py
  encoders/image/VSEImageEncoder/requirements.txt
  encoders/image/VSEImageEncoder/tests/__init__.py
  encoders/image/VSEImageEncoder/tests/expected.npy
  encoders/image/VSEImageEncoder/tests/imgs/man_piercing.jpg
  encoders/image/VSEImageEncoder/tests/test_vseimageencoder.py
Labels: component/encoder, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#873 ci: delete issue ref
  .github/workflows/issue-ref.yml
Labels: area/cicd, area/housekeeping, size/S

#485 feat: add Hamming distance evaluator
  evaluators/text/HammingDistanceEvaluator/Dockerfile
  evaluators/text/HammingDistanceEvaluator/README.md
  evaluators/text/HammingDistanceEvaluator/__init__.py
  evaluators/text/HammingDistanceEvaluator/config.yml
  evaluators/text/HammingDistanceEvaluator/manifest.yml
  evaluators/text/HammingDistanceEvaluator/requirements.txt
  evaluators/text/HammingDistanceEvaluator/tests/__init__.py
  evaluators/text/HammingDistanceEvaluator/tests/test_hammingdistanceevaluator.py
Labels: size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#1181 fix: remove jina version from manifests
  crafters/audio/AudioMonophoner/manifest.yml
  crafters/audio/AudioNormalizer/manifest.yml
  crafters/audio/AudioReader/manifest.yml
  crafters/audio/AudioSlicer/manifest.yml
  crafters/audio/SlidingWindowAudioSlicer/manifest.yml
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/FiveImageCropper/manifest.yml
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageResizer/manifest.yml
  crafters/image/RandomImageCropper/manifest.yml
  crafters/image/SlidingWindowImageCropper/manifest.yml
  crafters/nlp/JiebaSegmenter/manifest.yml
  crafters/nlp/SlidingWindowSegmenter/manifest.yml
  crafters/numeric/ArrayBytesReader/manifest.yml
  crafters/numeric/ArrayStringReader/manifest.yml
  encoders/audio/ChromaPitchEncoder/manifest.yml
  encoders/audio/MFCCTimbreEncoder/manifest.yml
  encoders/nlp/OneHotTextEncoder/manifest.yml
  evaluators/embedding/InfiniteNormEvaluator/manifest.yml
  evaluators/embedding/L1NormEvaluator/manifest.yml
  evaluators/rank/AveragePrecision/manifest.yml
  evaluators/rank/MeanReciprocalRankEvaluator/manifest.yml
  evaluators/rank/ReciprocalRankEvaluator/manifest.yml
  evaluators/rank/f1ScoreEvaluator/manifest.yml
  evaluators/text/BleuEvaluator/manifest.yml
  evaluators/text/EditDistanceEvaluator/manifest.yml
  evaluators/text/GleuEvaluator/manifest.yml
  evaluators/text/JaccardSimilarityEvaluator/manifest.yml
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/NGTIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/ScannIndexer/manifest.yml
  indexers/vector/SptagIndexer/manifest.yml
  rankers/BM25Ranker/manifest.yml
  rankers/BiMatchRanker/manifest.yml
  rankers/LevenshteinRanker/manifest.yml
  rankers/MaxRanker/manifest.yml
  rankers/MinRanker/manifest.yml
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/TfIdfRanker/manifest.yml
Labels: component/crafter, component/encoder, component/indexer, component/ranker, size/S, type/manifest

#1180 ci: add updater and make builder push by default
  .github/workflows/ci.yml
  .github/workflows/update-test.yml
Labels: area/cicd, area/housekeeping, size/S
