Repository jina-ai/jina-hub, pull requests merged in 2020-09, with the labels that each got.

#310 chore: bump FlairTextEncoder version to 0.0.3
  encoders/nlp/FlairTextEncoder/manifest.yml
  encoders/nlp/FlairTextEncoder/tests/test_flairtextencoder.py
Labels: component/encoder, size/XS, tests, type/manifest, type/python

#333 chore: changed misspelling
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/S, tests, type/python

#335 chore: changed misspelling
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
Labels: component/encoder, size/S, tests, type/python

#337 fix: milvusdb except move to hub
  indexers/vector/MilvusIndexer/MilvusDBHandler/__init__.py
  indexers/vector/MilvusIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest, type/python

#398 chore: bump BiMatchRanker version to 0.0.5
  rankers/BiMatchRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest

#396 chore: bump BM25Ranker version to 0.0.5
  rankers/BM25Ranker/manifest.yml
Labels: component/ranker, size/XS, type/manifest

#395 chore: bump TfIdfRanker version to 0.0.5
  rankers/TfIdfRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest

#394 chore: bump MinRanker version to 0.0.5
  rankers/MinRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest

#393 chore: bump TransformerTorchEncoder version to 0.0.6
  encoders/nlp/TransformerTorchEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#392 chore: bump FarmTextEncoder version to 0.0.5
  encoders/nlp/FarmTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#391 chore: bump OneHotTextEncoder version to 0.0.5
  encoders/nlp/OneHotTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#389 chore: bump UniversalSentenceEncoder version to 0.0.5
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#388 chore: bump TextPaddlehubEncoder version to 0.0.5
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#387 chore: bump LaserEncoder version to 0.0.5
  encoders/nlp/LaserEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#384 chore: bump ChromaPitchEncoder version to 0.0.5
  encoders/audio/ChromaPitchEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#383 chore: bump MFCCTimbreEncoder version to 0.0.5
  encoders/audio/MFCCTimbreEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#382 chore: bump FeatureAgglomerationEncoder version to 0.0.5
  encoders/numeric/FeatureAgglomerationEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#381 chore: bump FastICAEncoder version to 0.0.5
  encoders/numeric/FastICAEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#380 chore: bump IncrementalPCAEncoder version to 0.0.5
  encoders/numeric/IncrementalPCAEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#378 chore: bump RandomSparseEncoder version to 0.0.5
  encoders/numeric/RandomSparseEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#377 chore: bump RandomGaussianEncoder version to 0.0.5
  encoders/numeric/RandomGaussianEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#376 chore: bump ImageTorchEncoder version to 0.0.5
  encoders/image/ImageTorchEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#375 chore: bump ImageKerasEncoder version to 0.0.4
  encoders/image/ImageKerasEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#371 chore: bump ImagePaddlehubEncoder version to 0.0.5
  encoders/image/ImagePaddlehubEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#369 chore: bump VideoPaddleEncoder version to 0.0.6
  encoders/video/VideoPaddleEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#367 chore: bump Sentencizer version to 0.0.5
  crafters/nlp/Sentencizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#366 chore: bump JiebaSegmenter version to 0.0.5
  crafters/nlp/JiebaSegmenter/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#364 chore: bump SlidingWindowSegmenter version to 0.0.5
  crafters/nlp/SlidingWindowSegmenter/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#363 chore: bump AudioReader version to 0.0.5
  crafters/audio/AudioReader/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#360 chore: bump AudioNormalizer version to 0.0.5
  crafters/audio/AudioNormalizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#359 chore: bump AudioMonophoner version to 0.0.5
  crafters/audio/AudioMonophoner/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#358 chore: bump ArrayStringReader version to 0.0.5
  crafters/numeric/ArrayStringReader/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#347 chore: bump ImageReader version to 0.0.5
  crafters/image/ImageReader/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#346 chore: bump ScannIndexer version to 0.0.6
  indexers/vector/ScannIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest

#344 chore: bump FaissIndexer version to 0.0.5
  indexers/vector/FaissIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest

#342 chore: bump NGTIndexer version to 0.0.5
  indexers/vector/NGTIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest

#379 chore: bump TSNEEncoder version to 0.0.5
  encoders/numeric/TSNEEncoder/__init__.py
  encoders/numeric/TSNEEncoder/manifest.yml
  encoders/numeric/TSNEEncoder/tests/test_tsneencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#365 chore: bump DeepSegmenter version to 0.0.5
  crafters/nlp/DeepSegmenter/manifest.yml
  crafters/nlp/DeepSegmenter/requirements.txt
  crafters/nlp/DeepSegmenter/tests/test_deepsegmenter.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#362 chore: bump AudioSlicer version to 0.0.5
  crafters/audio/AudioSlicer/__init__.py
  crafters/audio/AudioSlicer/manifest.yml
  crafters/audio/AudioSlicer/tests/test_audioslicer.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#361 chore: bump SlidingWindowAudioSlicer version to 0.0.5
  crafters/audio/SlidingWindowAudioSlicer/__init__.py
  crafters/audio/SlidingWindowAudioSlicer/manifest.yml
  crafters/audio/SlidingWindowAudioSlicer/tests/test_slidingwindowaudioslicer.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#356 chore: bump FiveImageCropper version to 0.0.5
  crafters/image/FiveImageCropper/__init__.py
  crafters/image/FiveImageCropper/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#339 chore: bump LevelDBIndexer version to 0.0.6
  indexers/keyvalue/LevelDBIndexer/config.yml
  indexers/keyvalue/LevelDBIndexer/manifest.yml
Labels: component/indexer, size/XS, type/config, type/manifest

#340 chore: bump AnnoyIndexer version to 0.0.5
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/tests/yaml/annoy-wrap.yml
Labels: component/indexer, size/XS, type/manifest

#341 chore: bump MilvusIndexer version to 0.0.6
  indexers/vector/MilvusIndexer/__init__.py
  indexers/vector/MilvusIndexer/manifest.yml
  indexers/vector/MilvusIndexer/milvusdbhandler.py
  indexers/vector/MilvusIndexer/tests/test_integration.py
Labels: component/indexer, size/S, tests, type/config, type/manifest, type/python

#343 chore: bump SptagIndexer version to 0.0.5
  indexers/vector/SptagIndexer/__init__.py
  indexers/vector/SptagIndexer/manifest.yml
  indexers/vector/SptagIndexer/tests/yaml/sptag-wrap.yml
Labels: component/indexer, size/XS, type/manifest, type/python

#345 chore: bump NmsLibIndexer version to 0.0.5
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/tests/yaml/nmslib-wrap.yml
Labels: component/indexer, size/XS, type/manifest

#348 chore: bump ImageNormalizer version to 0.0.5
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageNormalizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#349 chore: bump CenterImageCropper version to 0.0.5
  crafters/image/CenterImageCropper/__init__.py
  crafters/image/CenterImageCropper/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#350 chore: bump ImageResizer version to 0.0.5
  crafters/image/ImageResizer/__init__.py
  crafters/image/ImageResizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#351 chore: bump TorchObjectDetectionSegmenter version to 0.0.5
  crafters/image/TorchObjectDetectionSegmenter/__init__.py
  crafters/image/TorchObjectDetectionSegmenter/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#352 chore: bump RandomImageCropper version to 0.0.5
  crafters/image/RandomImageCropper/__init__.py
  crafters/image/RandomImageCropper/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#353 chore: bump SlidingWindowImageCropper version to 0.0.5
  crafters/image/SlidingWindowImageCropper/__init__.py
  crafters/image/SlidingWindowImageCropper/manifest.yml
Labels: component/crafter, size/S, type/manifest, type/python

#355 chore: bump ImageCropper version to 0.0.5
  crafters/image/ImageCropper/__init__.py
  crafters/image/ImageCropper/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#386 chore: bump TransformerTFEncoder version to 0.0.6
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/requirements.txt
  encoders/nlp/TransformerTFEncoder/tests/test_transformertfencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#400 refactor: dataclass in transformer encoder
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#354 chore: bump ImageFlipper version to 0.0.5
  crafters/image/ImageFlipper/__init__.py
  crafters/image/ImageFlipper/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#368 chore: bump VideoTorchEncoder version to 0.0.5
  encoders/video/VideoTorchEncoder/__init__.py
  encoders/video/VideoTorchEncoder/manifest.yml
  encoders/video/VideoTorchEncoder/tests/test_videotorchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#404 fix: add jina hub new type
  README.md
Labels: size/XS

#405 feat: add pdf crafter
  crafters/nlp/PDFExtractor/Dockerfile
  crafters/nlp/PDFExtractor/README.md
  crafters/nlp/PDFExtractor/__init__.py
  crafters/nlp/PDFExtractor/cats_are_awesome.pdf
  crafters/nlp/PDFExtractor/config.yml
  crafters/nlp/PDFExtractor/manifest.yml
  crafters/nlp/PDFExtractor/requirements.txt
  crafters/nlp/PDFExtractor/tests/__init__.py
  crafters/nlp/PDFExtractor/tests/test_pdfextractor.py
Labels: component/crafter, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#406 Feat levenshtein distance ranker
  rankers/LevenshteinRanker/Dockerfile
  rankers/LevenshteinRanker/README.md
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/config.yml
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/requirements.txt
  rankers/LevenshteinRanker/tests/__init__.py
  rankers/LevenshteinRanker/tests/test_levenshteinranker.py
Labels: component/ranker, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#408 feat: add first draft of cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#410 fix(indexer): fix annoy indexer build_advanced
  indexers/vector/AnnoyIndexer/Dockerfile
  indexers/vector/AnnoyIndexer/__init__.py
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/NGTIndexer/__init__.py
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/SptagIndexer/__init__.py
Labels: component/indexer, size/S, type/dockerfile, type/manifest, type/python

#411 fix(indexer): fix annoy indexer build_advanced
  indexers/vector/AnnoyIndexer/__init__.py
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/Dockerfile
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/NmsLibIndexer/manifest.yml
Labels: component/indexer, size/S, type/dockerfile, type/manifest, type/python

#414 fix: added quotation mark
  README.md
Labels: size/XS

#415 fix: relative import
  .github/workflows/cd.yml
  crafters/image/CenterImageCropper/Dockerfile
  crafters/image/CenterImageCropper/__init__.py
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/FiveImageCropper/Dockerfile
  crafters/image/FiveImageCropper/__init__.py
  crafters/image/FiveImageCropper/manifest.yml
  crafters/image/ImageCropper/Dockerfile
  crafters/image/ImageCropper/__init__.py
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageFlipper/Dockerfile
  crafters/image/ImageFlipper/__init__.py
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageNormalizer/Dockerfile
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageReader/Dockerfile
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageResizer/Dockerfile
  crafters/image/ImageResizer/__init__.py
  crafters/image/ImageResizer/manifest.yml
  crafters/image/RandomImageCropper/Dockerfile
  crafters/image/RandomImageCropper/__init__.py
  crafters/image/RandomImageCropper/manifest.yml
  crafters/image/SlidingWindowImageCropper/Dockerfile
  crafters/image/SlidingWindowImageCropper/__init__.py
  crafters/image/SlidingWindowImageCropper/manifest.yml
  crafters/image/TorchObjectDetectionSegmenter/Dockerfile
  crafters/image/TorchObjectDetectionSegmenter/__init__.py
  crafters/image/TorchObjectDetectionSegmenter/manifest.yml
Labels: area/cicd, area/housekeeping, component/crafter, size/S, type/dockerfile, type/manifest, type/python

#416 fix: move import inside the function to suppress warning
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest, type/python

#417 Update image keras
  encoders/image/ImageKerasEncoder/config.yml
  encoders/image/ImageKerasEncoder/manifest.yml
  encoders/image/ImageKerasEncoder/requirements.txt
Labels: component/encoder, size/S, type/config, type/manifest

#421 fix: fix model_name default parameter for ImageTorchEncoder
  encoders/image/ImageTorchEncoder/__init__.py
  encoders/image/ImageTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#423 Zarr Indexer
  indexers/vector/ZarrIndexer/Dockerfile
  indexers/vector/ZarrIndexer/README.md
  indexers/vector/ZarrIndexer/__init__.py
  indexers/vector/ZarrIndexer/config.yml
  indexers/vector/ZarrIndexer/manifest.yml
  indexers/vector/ZarrIndexer/requirements.txt
  indexers/vector/ZarrIndexer/tests/__init__.py
  indexers/vector/ZarrIndexer/tests/test_zarrindexer.py
Labels: component/indexer, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#422 feat: add batching to build_advanced_index
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#409 feat: pdf extractor segmenter
  crafters/nlp/PDFExtractorSegmenter/Dockerfile
  crafters/nlp/PDFExtractorSegmenter/README.md
  crafters/nlp/PDFExtractorSegmenter/__init__.py
  crafters/nlp/PDFExtractorSegmenter/config.yml
  crafters/nlp/PDFExtractorSegmenter/manifest.yml
  crafters/nlp/PDFExtractorSegmenter/requirements.txt
  crafters/nlp/PDFExtractorSegmenter/tests/README.md
  crafters/nlp/PDFExtractorSegmenter/tests/__init__.py
  crafters/nlp/PDFExtractorSegmenter/tests/cats_are_awesome.pdf
  crafters/nlp/PDFExtractorSegmenter/tests/cats_are_awesome_img.pdf
  crafters/nlp/PDFExtractorSegmenter/tests/cats_are_awesome_text.pdf
  crafters/nlp/PDFExtractorSegmenter/tests/test_img_0.jpg
  crafters/nlp/PDFExtractorSegmenter/tests/test_img_1.jpg
  crafters/nlp/PDFExtractorSegmenter/tests/test_pdf_flow.py
  crafters/nlp/PDFExtractorSegmenter/tests/test_pdfextractorcrafter.py
Labels: component/crafter, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#418 feat: add batch_size as meta param
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/NmsLibIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#428 refactor: delete old pdfextractor
  crafters/nlp/PDFExtractor/Dockerfile
  crafters/nlp/PDFExtractor/README.md
  crafters/nlp/PDFExtractor/__init__.py
  crafters/nlp/PDFExtractor/cats_are_awesome.pdf
  crafters/nlp/PDFExtractor/config.yml
  crafters/nlp/PDFExtractor/manifest.yml
  crafters/nlp/PDFExtractor/requirements.txt
  crafters/nlp/PDFExtractor/tests/__init__.py
  crafters/nlp/PDFExtractor/tests/test_pdfextractor.py
Labels: component/crafter, hacktoberfest, hacktoberfest2020, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#429 Jina check issues for ZarrIndexer & LevelDBIndexer
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/vector/ZarrIndexer/__init__.py
  indexers/vector/ZarrIndexer/manifest.yml
Labels: component/indexer, hacktoberfest, hacktoberfest2020, size/S, type/manifest, type/python
