Repository jina-ai/jina-hub, pull requests merged in 2021-04, with the labels that each got.

#7357 fix: fix TransformerTorchEncoder to use RetriBert models
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#7360 fix(ranker): change length to siblings
  rankers/BiMatchRanker/__init__.py
  rankers/BiMatchRanker/manifest.yml
  rankers/BiMatchRanker/tests/test_bimatchranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#7359 feat: added huggingface api calls
  encoders/nlp/TransformerTorchEncoder/README.md
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/requirements.txt
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#7358 feat: github workflow for dependabot pr auto merge
  .github/workflows/merge-dependabot.yml
Labels: area/cicd, area/housekeeping, size/S

#7456 docs: remove length
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/SimpleAggregateRanker/tests/test_aggregate_ranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#7457 refactor: segmenter remove length
  segmenters/audio/AudioSlicer/__init__.py
  segmenters/audio/AudioSlicer/manifest.yml
  segmenters/audio/SlidingWindowAudioSlicer/__init__.py
  segmenters/audio/SlidingWindowAudioSlicer/manifest.yml
Labels: size/XS, type/manifest, type/python

#7356 feat: add spacy text encoder
  encoders/nlp/SpacyTextEncoder/Dockerfile
  encoders/nlp/SpacyTextEncoder/README.md
  encoders/nlp/SpacyTextEncoder/__init__.py
  encoders/nlp/SpacyTextEncoder/config.yml
  encoders/nlp/SpacyTextEncoder/manifest.yml
  encoders/nlp/SpacyTextEncoder/requirements.txt
  encoders/nlp/SpacyTextEncoder/tests/__init__.py
  encoders/nlp/SpacyTextEncoder/tests/expected_batch_data.npy
  encoders/nlp/SpacyTextEncoder/tests/expected_data.npy
  encoders/nlp/SpacyTextEncoder/tests/test_spacytextencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#7560 fix: documentation URL for CLIPImageEncoder
  encoders/image/CLIPImageEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7559 fix: documentation URL for ImageKerasEncoder
  encoders/image/ImageKerasEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7557 fix: documentation URL for ImagePaddlehubEncoder
  encoders/image/ImagePaddlehubEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7558 fix: documentation URL for ImageOnnxEncoder
  encoders/image/ImageOnnxEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7555 fix: documentation URL for VSEImageEncoder
  encoders/image/VSEImageEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7556 fix: documentation URL for TirgImageEncoder
  encoders/image/TirgImageEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7567 test: help pysparnn
  indexers/vector/PysparnnIndexer/__init__.py
  indexers/vector/PysparnnIndexer/tests/test_pysparnnindexer.py
Labels: component/indexer, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#7580 test: fix sparse testing
  indexers/vector/PysparnnIndexer/Dockerfile
  indexers/vector/PysparnnIndexer/__init__.py
  indexers/vector/PysparnnIndexer/manifest.yml
  indexers/vector/PysparnnIndexer/requirements.txt
Labels: component/indexer, size/S, type/dockerfile, type/manifest, type/python

#7566 feat: enable changing channel axis
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageNormalizer/tests/test_imagenormalizer.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#7462 refactor: hub-executor-batching
  encoders/image/FaceNetEncoder/config.yml
  encoders/image/FaceNetEncoder/manifest.yml
  encoders/image/TirgImageEncoder/Dockerfile
  encoders/image/TirgImageEncoder/config.yml
  encoders/image/TirgImageEncoder/manifest.yml
  encoders/image/TirgImageEncoder/requirements.txt
  encoders/multimodal/TirgMultimodalEncoder/Dockerfile
  encoders/multimodal/TirgMultimodalEncoder/__init__.py
  encoders/multimodal/TirgMultimodalEncoder/config.yml
  encoders/multimodal/TirgMultimodalEncoder/manifest.yml
  encoders/multimodal/TirgMultimodalEncoder/requirements.txt
  encoders/nlp/CLIPTextEncoder/config.yml
  encoders/nlp/CLIPTextEncoder/manifest.yml
  rankers/LevenshteinRanker/Dockerfile
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/config.yml
  rankers/LevenshteinRanker/manifest.yml
  rankers/LightGBMRanker/Dockerfile
  rankers/LightGBMRanker/__init__.py
  rankers/LightGBMRanker/config.yml
  rankers/LightGBMRanker/manifest.yml
Labels: component/encoder, component/ranker, size/S, type/config, type/dockerfile, type/manifest, type/python

#7568 fix: documentation URL for VSETextEncoder
  encoders/nlp/VSETextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7577 fix: documentation URL for FarmTextEncoder
  encoders/nlp/FarmTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7575 fix: documentation URL for LaserEncoder
  encoders/nlp/LaserEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7574 fix: documentation URL for OneHotTextEncoder
  encoders/nlp/OneHotTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7573 fix: documentation URL for SpacyTextEncoder
  encoders/nlp/SpacyTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7571 fix: documentation URL for TransformerTFEncoder
  encoders/nlp/TransformerTFEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7570 fix: documentation URL for TransformerTorchEncoder
  encoders/nlp/TransformerTorchEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7569 fix: documentation URL for UniversalSentenceEncoder
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7578 fix: documentation URL for CLIPTextEncoder
  encoders/nlp/CLIPTextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7579 fix: documentation URL for TirgMultiModalEncoder
  encoders/multimodal/TirgMultimodalEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest

#7454 feat: add pysparnn base class indexer
  indexers/vector/PysparnnIndexer/Dockerfile
  indexers/vector/PysparnnIndexer/README.md
  indexers/vector/PysparnnIndexer/__init__.py
  indexers/vector/PysparnnIndexer/config.yml
  indexers/vector/PysparnnIndexer/manifest.yml
  indexers/vector/PysparnnIndexer/requirements.txt
  indexers/vector/PysparnnIndexer/tests/__init__.py
  indexers/vector/PysparnnIndexer/tests/test_pysparnnindexer.py
Labels: component/indexer, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#7582 fix: fix flair version
  encoders/nlp/FlairTextEncoder/manifest.yml
  encoders/nlp/FlairTextEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#7587 fix: avoid checking is_trained
  indexers/vector/FaissIndexer/Dockerfile
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/XS, tests, type/dockerfile, type/manifest, type/python

#7584 fix: fix text paddle hub encoder
  encoders/nlp/TextPaddlehubEncoder/Dockerfile
  encoders/nlp/TextPaddlehubEncoder/__init__.py
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
  encoders/nlp/TextPaddlehubEncoder/requirements.txt
  encoders/nlp/TextPaddlehubEncoder/tests/test_textpaddlehubencoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#7586 fix: fix fastica cannot train
  encoders/numeric/FastICAEncoder/__init__.py
  encoders/numeric/FastICAEncoder/manifest.yml
  encoders/numeric/FastICAEncoder/tests/test_fasticaencoder.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#7590 fix: fix classifiers and problems with tensorflow
  classifiers/image/CLIPZeroShotClassifier/Dockerfile
  classifiers/image/CLIPZeroShotClassifier/requirements.txt
  classifiers/nlp/ZeroShotTFClassifier/Dockerfile
  classifiers/nlp/ZeroShotTFClassifier/requirements.txt
  encoders/nlp/TransformerTFEncoder/Dockerfile
  encoders/nlp/TransformerTFEncoder/manifest.yml
Labels: component/encoder, size/S, type/dockerfile, type/manifest

#7588 refactor: refactor no training
  encoders/numeric/FeatureAgglomerationEncoder/__init__.py
  encoders/numeric/FeatureAgglomerationEncoder/manifest.yml
  encoders/numeric/FeatureAgglomerationEncoder/tests/test_featureagglomerationencoder.py
  encoders/numeric/IncrementalPCAEncoder/__init__.py
  encoders/numeric/IncrementalPCAEncoder/manifest.yml
  encoders/numeric/IncrementalPCAEncoder/tests/test_incrementalpcaencoder.py
  encoders/numeric/RandomGaussianEncoder/__init__.py
  encoders/numeric/RandomGaussianEncoder/manifest.yml
  encoders/numeric/RandomGaussianEncoder/tests/test_randomgaussianencoder.py
  encoders/numeric/RandomSparseEncoder/__init__.py
  encoders/numeric/RandomSparseEncoder/manifest.yml
  encoders/numeric/RandomSparseEncoder/tests/test_randomsparseencoder.py
Labels: component/encoder, size/L, tests, type/manifest, type/python

#7458 feat: tfidf encoder
  encoders/nlp/TFIDFTextEncoder/Dockerfile
  encoders/nlp/TFIDFTextEncoder/README.md
  encoders/nlp/TFIDFTextEncoder/__init__.py
  encoders/nlp/TFIDFTextEncoder/config.yml
  encoders/nlp/TFIDFTextEncoder/manifest.yml
  encoders/nlp/TFIDFTextEncoder/model/tfidf_vectorizer.pickle
  encoders/nlp/TFIDFTextEncoder/tests/__init__.py
  encoders/nlp/TFIDFTextEncoder/tests/encoding_with_original_tfidf.py
  encoders/nlp/TFIDFTextEncoder/tests/expected.npz
  encoders/nlp/TFIDFTextEncoder/tests/expected_batch.npz
  encoders/nlp/TFIDFTextEncoder/tests/test_tfidftextencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#7684 feat: update tfidf
  encoders/nlp/TFIDFTextEncoder/Dockerfile
  encoders/nlp/TFIDFTextEncoder/__init__.py
  encoders/nlp/TFIDFTextEncoder/manifest.yml
  encoders/nlp/TFIDFTextEncoder/tests/encoding_with_original_tfidf.py
  encoders/nlp/TFIDFTextEncoder/tests/test_tfidftextencoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#7683 fix: vector comes in batching
  indexers/vector/PysparnnIndexer/Dockerfile
  indexers/vector/PysparnnIndexer/__init__.py
  indexers/vector/PysparnnIndexer/manifest.yml
  indexers/vector/PysparnnIndexer/tests/test_pysparnnindexer.py
Labels: component/indexer, size/S, tests, type/dockerfile, type/manifest, type/python

#7776 feat: update argument in classifiers
  classifiers/image/CLIPZeroShotClassifier/README.md
  classifiers/image/CLIPZeroShotClassifier/__init__.py
  classifiers/nlp/TransformersTorchSeqClassifier/README.md
  classifiers/nlp/TransformersTorchSeqClassifier/__init__.py
  classifiers/nlp/ZeroShotTFClassifier/__init__.py
Labels: size/S, type/python

#7775 feat: update encoder parameter to content
  encoders/audio/ChromaPitchEncoder/__init__.py
  encoders/audio/MFCCTimbreEncoder/__init__.py
  encoders/audio/Wav2VecSpeechEncoder/__init__.py
  encoders/image/BigTransferEncoder/__init__.py
  encoders/image/CLIPImageEncoder/__init__.py
  encoders/image/CustomImageTorchEncoder/README.md
  encoders/image/CustomImageTorchEncoder/__init__.py
  encoders/image/CustomKerasImageEncoder/README.md
  encoders/image/CustomKerasImageEncoder/__init__.py
  encoders/image/FaceNetEncoder/__init__.py
  encoders/image/ImageKerasEncoder/README.md
  encoders/image/ImageKerasEncoder/__init__.py
  encoders/image/ImageOnnxEncoder/README.md
  encoders/image/ImageOnnxEncoder/__init__.py
  encoders/image/ImagePaddlehubEncoder/README.md
  encoders/image/ImagePaddlehubEncoder/__init__.py
  encoders/image/ImageTorchEncoder/README.md
  encoders/image/ImageTorchEncoder/__init__.py
  encoders/image/TirgImageEncoder/README.md
  encoders/image/TirgImageEncoder/__init__.py
  encoders/image/VSEImageEncoder/__init__.py
  encoders/multimodal/TirgMultimodalEncoder/README.md
  encoders/multimodal/TirgMultimodalEncoder/__init__.py
  encoders/nlp/CLIPTextEncoder/__init__.py
  encoders/nlp/FarmTextEncoder/__init__.py
  encoders/nlp/FlairTextEncoder/README.md
  encoders/nlp/FlairTextEncoder/__init__.py
  encoders/nlp/LaserEncoder/README.md
  encoders/nlp/LaserEncoder/__init__.py
  encoders/nlp/OneHotTextEncoder/README.md
  encoders/nlp/OneHotTextEncoder/__init__.py
  encoders/nlp/SpacyTextEncoder/README.md
  encoders/nlp/SpacyTextEncoder/__init__.py
  encoders/nlp/TFIDFTextEncoder/__init__.py
  encoders/nlp/TextPaddlehubEncoder/README.md
  encoders/nlp/TextPaddlehubEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/README.md
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/UniversalSentenceEncoder/README.md
  encoders/nlp/UniversalSentenceEncoder/__init__.py
  encoders/nlp/VSETextEncoder/__init__.py
  encoders/numeric/CompressionVaeEncoder/__init__.py
  encoders/numeric/FastICAEncoder/__init__.py
  encoders/numeric/FeatureAgglomerationEncoder/README.md
  encoders/numeric/FeatureAgglomerationEncoder/__init__.py
  encoders/numeric/IncrementalPCAEncoder/README.md
  encoders/numeric/IncrementalPCAEncoder/__init__.py
  encoders/numeric/RandomGaussianEncoder/README.md
  encoders/numeric/RandomGaussianEncoder/__init__.py
  encoders/numeric/RandomSparseEncoder/README.md
  encoders/numeric/RandomSparseEncoder/__init__.py
  encoders/numeric/TSNEEncoder/README.md
  encoders/numeric/TSNEEncoder/__init__.py
  encoders/numeric/UMAPEncoder/README.md
  encoders/numeric/UMAPEncoder/__init__.py
  encoders/video/VideoPaddleEncoder/README.md
  encoders/video/VideoPaddleEncoder/__init__.py
  encoders/video/VideoTorchEncoder/README.md
  encoders/video/VideoTorchEncoder/__init__.py
Labels: component/encoder, size/M, type/python

#7773 fix: documentation url for TransformersTorchSeqClassifier
  classifiers/nlp/TransformersTorchSeqClassifier/manifest.yml
Labels: size/XS, type/manifest

#7772 fix: documentation url for ZeroShotTFClassifier
  classifiers/nlp/ZeroShotTFClassifier/manifest.yml
Labels: size/XS, type/manifest

#7789 fix: check path to vectorizer exists
  encoders/nlp/TFIDFTextEncoder/__init__.py
  encoders/nlp/TFIDFTextEncoder/manifest.yml
  encoders/nlp/TFIDFTextEncoder/tests/test_tfidftextencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#7685 refactor: adapt random sparse encoder to new ver
  encoders/numeric/RandomSparseEncoder/Dockerfile
  encoders/numeric/RandomSparseEncoder/__init__.py
  encoders/numeric/RandomSparseEncoder/manifest.yml
Labels: component/encoder, size/S, type/dockerfile, type/manifest, type/python

#7585 fix: remove duplicated code with core
  encoders/numeric/__init__.py
  indexers/vector/MilvusIndexer/Dockerfile
  indexers/vector/MilvusIndexer/README.md
  indexers/vector/MilvusIndexer/__init__.py
  indexers/vector/MilvusIndexer/config.yml
  indexers/vector/MilvusIndexer/manifest.yml
  indexers/vector/MilvusIndexer/milvusdbhandler.py
  indexers/vector/MilvusIndexer/requirements.txt
  indexers/vector/MilvusIndexer/tests/__init__.py
  indexers/vector/MilvusIndexer/tests/milvus_tmp/conf/server_config.yaml
  indexers/vector/MilvusIndexer/tests/server_config.yaml
  indexers/vector/MilvusIndexer/tests/test_integration.py
  indexers/vector/MilvusIndexer/tests/test_milvusindexer.py
  indexers/vector/ZarrIndexer/Dockerfile
  indexers/vector/ZarrIndexer/__init__.py
  indexers/vector/ZarrIndexer/manifest.yml
  indexers/vector/ZarrIndexer/tests/test_zarrindexer.py
Labels: component/encoder, component/indexer, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#7777 feat: support batching for torchObjectDetectionSegmenter
  segmenters/image/TorchObjectDetectionSegmenter/__init__.py
  segmenters/image/TorchObjectDetectionSegmenter/manifest.yml
  segmenters/image/TorchObjectDetectionSegmenter/tests/test_torchobjectdetectionsegmenter.py
Labels: size/S, tests, type/manifest, type/python

#7791 refactor: update urls
  classifiers/image/CLIPZeroShotClassifier/manifest.yml
  classifiers/image/CLIPZeroShotClassifier/requirements.txt
  crafters/audio/AudioMonophoner/manifest.yml
  crafters/image/AlbumentationsCrafter/manifest.yml
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageFlipper/manifest.yml
  crafters/nlp/TikaExtractor/manifest.yml
  encoders/audio/Wav2VecSpeechEncoder/manifest.yml
  encoders/image/ImageTorchEncoder/manifest.yml
  encoders/nlp/TFIDFTextEncoder/manifest.yml
  encoders/numeric/CompressionVaeEncoder/manifest.yml
  encoders/numeric/TSNEEncoder/manifest.yml
  encoders/video/VideoPaddleEncoder/manifest.yml
  evaluators/embedding/InfiniteNormEvaluator/manifest.yml
  evaluators/embedding/L1NormEvaluator/manifest.yml
  evaluators/embedding/MinkowskiDistanceEvaluator/manifest.yml
  evaluators/rank/ReciprocalRankEvaluator/manifest.yml
  evaluators/text/BleuEvaluator/manifest.yml
  evaluators/text/EditDistanceEvaluator/manifest.yml
  evaluators/text/GleuEvaluator/manifest.yml
  evaluators/text/HammingDistanceEvaluator/manifest.yml
  evaluators/text/JaccardSimilarityEvaluator/manifest.yml
  evaluators/text/RougeEvaluator/manifest.yml
Labels: component/crafter, component/encoder, size/S, type/manifest

#7792 refactor: update urls for some execs
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/MongoDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/NGTIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/PysparnnIndexer/manifest.yml
  indexers/vector/ScannIndexer/manifest.yml
  indexers/vector/SptagIndexer/manifest.yml
  indexers/vector/ZarrIndexer/manifest.yml
  rankers/SimpleAggregateRanker/manifest.yml
  segmenters/audio/AudioSlicer/manifest.yml
  segmenters/audio/SlidingWindowAudioSlicer/manifest.yml
  segmenters/image/FiveImageCropper/manifest.yml
  segmenters/image/RandomImageCropper/manifest.yml
  segmenters/image/SlidingWindowImageCropper/manifest.yml
  segmenters/image/TorchObjectDetectionSegmenter/manifest.yml
  segmenters/nlp/JiebaSegmenter/manifest.yml
  segmenters/nlp/PDFExtractorSegmenter/manifest.yml
Labels: component/indexer, component/ranker, size/S, type/manifest

#6897 add postgresql indexer
  indexers/dbms/PostgreSQLIndexer/Dockerfile
  indexers/dbms/PostgreSQLIndexer/README.md
  indexers/dbms/PostgreSQLIndexer/__init__.py
  indexers/dbms/PostgreSQLIndexer/config.yml
  indexers/dbms/PostgreSQLIndexer/manifest.yml
  indexers/dbms/PostgreSQLIndexer/postgreshandler.py
  indexers/dbms/PostgreSQLIndexer/requirements.txt
  indexers/dbms/PostgreSQLIndexer/start.sh
  indexers/dbms/PostgreSQLIndexer/tests/__init__.py
  indexers/dbms/PostgreSQLIndexer/tests/flow_dbms.yml
  indexers/dbms/PostgreSQLIndexer/tests/indexer_dbms.yml
  indexers/dbms/PostgreSQLIndexer/tests/indexer_query.yml
  indexers/dbms/PostgreSQLIndexer/tests/query_kv.yml
  indexers/dbms/PostgreSQLIndexer/tests/query_np.yml
  indexers/dbms/PostgreSQLIndexer/tests/test_PostgreSQLdbindexer.py
  indexers/dbms/PostgreSQLIndexer/tests/test_dump_dbms.py
  indexers/dbms/__init__.py
  indexers/keyvalue/RedisDBIndexer/tests/test_integration_crud.py
Labels: component/indexer, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#7794 fix: hide bad imports
  indexers/vector/PysparnnIndexer/__init__.py
  indexers/vector/PysparnnIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#7795 fix: sorting properly casting strings to floats
  indexers/vector/PysparnnIndexer/__init__.py
  indexers/vector/PysparnnIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest, type/python

#7887 ci: enable dependabot auto-merge
  .github/auto-merge.yml
  .github/workflows/merge-dependabot.yml
Labels: area/cicd, area/housekeeping, size/XS

#7889 fix: properly set requirements
  encoders/nlp/TFIDFTextEncoder/Dockerfile
  encoders/nlp/TFIDFTextEncoder/manifest.yml
  encoders/nlp/TFIDFTextEncoder/requirements.txt
  encoders/nlp/TFIDFTextEncoder/tests/test_tfidftextencoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#7790 feat: add basic spell checker
  crafters/nlp/PySpellChecker/Dockerfile
  crafters/nlp/PySpellChecker/README.md
  crafters/nlp/PySpellChecker/__init__.py
  crafters/nlp/PySpellChecker/config.yml
  crafters/nlp/PySpellChecker/manifest.yml
  crafters/nlp/PySpellChecker/requirements.txt
  crafters/nlp/PySpellChecker/tests/__init__.py
  crafters/nlp/PySpellChecker/tests/test_pyspellchecker.py
Labels: component/crafter, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#7981 feat(segmenter): add location for SpacySentencizer
  segmenters/nlp/SpacySentencizer/__init__.py
  segmenters/nlp/SpacySentencizer/manifest.yml
  segmenters/nlp/SpacySentencizer/tests/test_spacysentencizer.py
Labels: size/S, tests, type/manifest, type/python

#7793 feat: support batching for FaceNetSegmenter
  segmenters/image/FaceNetSegmenter/Dockerfile
  segmenters/image/FaceNetSegmenter/__init__.py
  segmenters/image/FaceNetSegmenter/manifest.yml
  segmenters/image/FaceNetSegmenter/requirements.txt
  segmenters/image/FaceNetSegmenter/testMTCNN.py
  segmenters/image/FaceNetSegmenter/tests/test_facenetsegmenter.py
Labels: size/M, tests, type/dockerfile, type/manifest, type/python

#7589 feat: add spell checker
  crafters/nlp/SpellChecker/Dockerfile
  crafters/nlp/SpellChecker/README.md
  crafters/nlp/SpellChecker/__init__.py
  crafters/nlp/SpellChecker/config.yml
  crafters/nlp/SpellChecker/manifest.yml
  crafters/nlp/SpellChecker/pyngramspell/__init__.py
  crafters/nlp/SpellChecker/pyngramspell/evaluation.txt
  crafters/nlp/SpellChecker/pyngramspell/pyngramspell.py
  crafters/nlp/SpellChecker/pyngramspell/train.py
  crafters/nlp/SpellChecker/requirements.txt
  crafters/nlp/SpellChecker/tests/__init__.py
  crafters/nlp/SpellChecker/tests/test_spellchecker.py
Labels: component/crafter, size/XL, tests, type/config, type/dockerfile, type/manifest, type/python

#7988 feat(crafter): add torchvision transformations
  crafters/image/ImageTorchTransformation/Dockerfile
  crafters/image/ImageTorchTransformation/README.md
  crafters/image/ImageTorchTransformation/__init__.py
  crafters/image/ImageTorchTransformation/config.yml
  crafters/image/ImageTorchTransformation/manifest.yml
  crafters/image/ImageTorchTransformation/requirements.txt
  crafters/image/ImageTorchTransformation/tests/__init__.py
  crafters/image/ImageTorchTransformation/tests/center_crop_exp.png
  crafters/image/ImageTorchTransformation/tests/config.yaml
  crafters/image/ImageTorchTransformation/tests/original.png
  crafters/image/ImageTorchTransformation/tests/resize_exp.png
  crafters/image/ImageTorchTransformation/tests/resize_out.png
  crafters/image/ImageTorchTransformation/tests/test_imagetorchtransformation.py
  crafters/image/ImageTorchTransformation/tests/vflip_exp.png
Labels: component/crafter, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#8082 fix: hide imports
  crafters/nlp/PySpellChecker/__init__.py
  crafters/nlp/PySpellChecker/manifest.yml
  crafters/nlp/SpellChecker/manifest.yml
  crafters/nlp/SpellChecker/pyngramspell/pyngramspell.py
Labels: component/crafter, size/S, type/manifest, type/python
