Repository jina-ai/jina-hub, pull requests merged in 2021-03, with the labels that each got.

#4775 fix: bimatchranker passing param
  rankers/BiMatchRanker/__init__.py
  rankers/BiMatchRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest, type/python

#4332 feat: add clip text encoder
  encoders/nlp/CLIPTextEncoder/Dockerfile
  encoders/nlp/CLIPTextEncoder/README.md
  encoders/nlp/CLIPTextEncoder/__init__.py
  encoders/nlp/CLIPTextEncoder/config.yml
  encoders/nlp/CLIPTextEncoder/manifest.yml
  encoders/nlp/CLIPTextEncoder/tests/__init__.py
  encoders/nlp/CLIPTextEncoder/tests/encoding_with_original_clip.py
  encoders/nlp/CLIPTextEncoder/tests/expected.npy
  encoders/nlp/CLIPTextEncoder/tests/expected_batch.npy
  encoders/nlp/CLIPTextEncoder/tests/test_cliptextencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#4328 feat: add clip image encoder
  encoders/image/CLIPImageEncoder/Dockerfile
  encoders/image/CLIPImageEncoder/README.md
  encoders/image/CLIPImageEncoder/__init__.py
  encoders/image/CLIPImageEncoder/config.yml
  encoders/image/CLIPImageEncoder/imgs/man_piercing.jpg
  encoders/image/CLIPImageEncoder/manifest.yml
  encoders/image/CLIPImageEncoder/tests/__init__.py
  encoders/image/CLIPImageEncoder/tests/encoding_with_original_clip.py
  encoders/image/CLIPImageEncoder/tests/expected.npy
  encoders/image/CLIPImageEncoder/tests/expected_batch.npy
  encoders/image/CLIPImageEncoder/tests/test_clipimageencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#4863 fix: add config.yml in hub structure
  README.md
Labels: size/XS

#4422 fix: docstring for imagetorch encoder
  encoders/image/ImageTorchEncoder/README.md
  encoders/image/ImageTorchEncoder/__init__.py
  encoders/image/ImageTorchEncoder/manifest.yml
  encoders/image/ImageTorchEncoder/tests/test_imagetorchencoder.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#4960 feat: doc update for levenshtein ranker
  rankers/LevenshteinRanker/README.md
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/tests/test_levenshteinranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#4961 feat: add doc for bleu evaluator
  evaluators/text/BleuEvaluator/README.md
  evaluators/text/BleuEvaluator/__init__.py
  evaluators/text/BleuEvaluator/manifest.yml
  evaluators/text/BleuEvaluator/tests/test_bleuevaluator.py
Labels: size/S, tests, type/manifest, type/python

#4963 feat: doc for image resizer crafter
  crafters/image/ImageResizer/README.md
  crafters/image/ImageResizer/manifest.yml
  crafters/image/ImageResizer/tests/test_imageresizer.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#4776 fix: faiss indexer inner_product returns sim and not distance (#3524)
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/XS, tests, type/manifest, type/python

#5053 feat: leveldb indexer usage doc
  indexers/keyvalue/LevelDBIndexer/README.md
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#4962 feat: doc for audiomonophoner crafter
  crafters/audio/AudioMonophoner/README.md
  crafters/audio/AudioMonophoner/__init__.py
  crafters/audio/AudioMonophoner/manifest.yml
  crafters/audio/AudioMonophoner/tests/test_audiomonophoner.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#4964 feat: doc for albumentation crafter
  crafters/image/AlbumentationsCrafter/README.md
  crafters/image/AlbumentationsCrafter/__init__.py
  crafters/image/AlbumentationsCrafter/manifest.yml
  crafters/image/AlbumentationsCrafter/tests/test_albumentationscrafter.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#4598 docs: docstring for encoder/images
  encoders/image/ImageTorchEncoder/__init__.py
  encoders/image/ImageTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#5322 feat: increase verbosity for annoy indexer
  indexers/vector/AnnoyIndexer/README.md
  indexers/vector/AnnoyIndexer/__init__.py
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/tests/test_annoyindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#5412 feat: increase verbosity for ngt indexer
  indexers/vector/NGTIndexer/README.md
  indexers/vector/NGTIndexer/__init__.py
  indexers/vector/NGTIndexer/manifest.yml
  indexers/vector/NGTIndexer/tests/test_ngtindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#5413 feat: increase verbosity for nms indexer
  indexers/vector/NmsLibIndexer/README.md
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/tests/test_nmslibindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#5323 feat: increase verbosity for faiss indexer
  indexers/vector/FaissIndexer/README.md
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#3866 fix: remove TfIdf and BM25 ranker
  rankers/BM25Ranker/Dockerfile
  rankers/BM25Ranker/README.md
  rankers/BM25Ranker/__init__.py
  rankers/BM25Ranker/config.yml
  rankers/BM25Ranker/manifest.yml
  rankers/BM25Ranker/tests/__init__.py
  rankers/BM25Ranker/tests/test_bm25ranker.py
  rankers/TfIdfRanker/Dockerfile
  rankers/TfIdfRanker/README.md
  rankers/TfIdfRanker/__init__.py
  rankers/TfIdfRanker/config.yml
  rankers/TfIdfRanker/manifest.yml
  rankers/TfIdfRanker/tests/__init__.py
  rankers/TfIdfRanker/tests/test_tfidfranker.py
Labels: component/ranker, size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#5504 feat: use single decorator for image crafters
  crafters/image/AlbumentationsCrafter/__init__.py
  crafters/image/AlbumentationsCrafter/manifest.yml
  crafters/image/AlbumentationsCrafter/tests/test_albumentationscrafter.py
  crafters/image/CenterImageCropper/__init__.py
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/CenterImageCropper/tests/test_centerimagecropper.py
  crafters/image/ImageCropper/__init__.py
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageCropper/tests/test_imagecropper.py
  crafters/image/ImageFlipper/__init__.py
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageFlipper/tests/test_imageflipper.py
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageNormalizer/tests/test_imagenormalizer.py
  crafters/image/ImageReader/__init__.py
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageReader/tests/test_imagereader.py
  crafters/image/ImageResizer/__init__.py
  crafters/image/ImageResizer/manifest.yml
  crafters/image/ImageResizer/tests/test_imageresizer.py
Labels: component/crafter, size/M, tests, type/manifest, type/python

#5503 feat: increase verbosity for zarr indexer
  indexers/vector/ZarrIndexer/README.md
  indexers/vector/ZarrIndexer/__init__.py
  indexers/vector/ZarrIndexer/manifest.yml
  indexers/vector/ZarrIndexer/tests/test_zarrindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#5502 feat: increase verbosity for SpTag Indexer
  indexers/vector/SptagIndexer/README.md
  indexers/vector/SptagIndexer/__init__.py
  indexers/vector/SptagIndexer/manifest.yml
  indexers/vector/SptagIndexer/tests/test_sptagindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#5232 feat: fix sentencizer on other languages
  segmenters/nlp/Sentencizer/__init__.py
  segmenters/nlp/Sentencizer/manifest.yml
  segmenters/nlp/Sentencizer/tests/test_sentencizer.py
Labels: size/S, tests, type/manifest, type/python

#5595 refactor: adapt levenshtein ranker to new ranker interface
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/tests/test_levenshteinranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#5684 Usage doc for image crop crafter
  crafters/image/ImageCropper/README.md
  crafters/image/ImageCropper/__init__.py
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageCropper/tests/test_imagecropper.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5691 feat(segmenter): add user dict to JiebaSegmenter
  segmenters/nlp/JiebaSegmenter/__init__.py
  segmenters/nlp/JiebaSegmenter/manifest.yml
  segmenters/nlp/JiebaSegmenter/tests/dict.txt
  segmenters/nlp/JiebaSegmenter/tests/test_jiebasegmenter.py
Labels: size/S, tests, type/manifest, type/python

#5781 fix: add classifiers folder
  .github/workflows/ci.yml
  classifiers/__init__.py
Labels: area/cicd, area/housekeeping, size/XS, type/python

#5685 Usage doc image flipper crafter
  crafters/image/ImageFlipper/README.md
  crafters/image/ImageFlipper/__init__.py
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageFlipper/tests/test_imageflipper.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5687 Usage doc for image normaliser crafter
  crafters/image/ImageNormalizer/README.md
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageNormalizer/tests/test_imagenormalizer.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5786 fix: clip hide clip import
  encoders/nlp/CLIPTextEncoder/__init__.py
  encoders/nlp/CLIPTextEncoder/manifest.yml
  encoders/nlp/CLIPTextEncoder/tests/test_cliptextencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#5791 fix: ensure keys are passed
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest, type/python

#5688 test: fix SimpleAggregate ranker
  rankers/SimpleAggregateRanker/__init__.py
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/SimpleAggregateRanker/tests/test_aggregate_ranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#5690 Usage doc for image resizer
  crafters/image/ImageResizer/README.md
  crafters/image/ImageResizer/__init__.py
  crafters/image/ImageResizer/manifest.yml
  crafters/image/ImageResizer/tests/test_imageresizer.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5782 Usage doc for Tika Extractor
  crafters/nlp/TikaExtractor/README.md
  crafters/nlp/TikaExtractor/__init__.py
  crafters/nlp/TikaExtractor/manifest.yml
  crafters/nlp/TikaExtractor/tests/test_tikaextractor.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5783 Usage doc for Array Reader Crafter
  crafters/numeric/ArrayBytesReader/README.md
  crafters/numeric/ArrayBytesReader/__init__.py
  crafters/numeric/ArrayBytesReader/manifest.yml
  crafters/numeric/ArrayBytesReader/tests/test_arraybytesreader.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5784 Usage doc for ArrayStringReader Crafter
  crafters/numeric/ArrayStringReader/README.md
  crafters/numeric/ArrayStringReader/__init__.py
  crafters/numeric/ArrayStringReader/manifest.yml
  crafters/numeric/ArrayStringReader/tests/test_arraystringreader.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5879 fix: adapt levenshtein for batching
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/tests/test_levenshteinranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#5052 feat: ensure single batch for audio crafters
  crafters/audio/AudioMonophoner/__init__.py
  crafters/audio/AudioMonophoner/manifest.yml
  crafters/audio/AudioMonophoner/tests/test_audiomonophoner.py
  crafters/audio/AudioNormalizer/__init__.py
  crafters/audio/AudioNormalizer/manifest.yml
  crafters/audio/AudioNormalizer/tests/test_audionormalizer.py
  crafters/audio/AudioReader/__init__.py
  crafters/audio/AudioReader/manifest.yml
  crafters/audio/AudioReader/tests/test_1.py
  crafters/audio/AudioReader/tests/test_audioreader.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5787 feat: use single decorator for audio segmenters
  segmenters/audio/AudioSlicer/__init__.py
  segmenters/audio/AudioSlicer/manifest.yml
  segmenters/audio/AudioSlicer/tests/test_audioslicer.py
  segmenters/audio/SlidingWindowAudioSlicer/__init__.py
  segmenters/audio/SlidingWindowAudioSlicer/manifest.yml
  segmenters/audio/SlidingWindowAudioSlicer/tests/test_slidingwindowaudioslicer.py
Labels: size/S, tests, type/manifest, type/python

#5788 feat: use single decorator for image segmenters
  segmenters/image/FiveImageCropper/__init__.py
  segmenters/image/FiveImageCropper/manifest.yml
  segmenters/image/FiveImageCropper/tests/test_segmenter.py
  segmenters/image/RandomImageCropper/__init__.py
  segmenters/image/RandomImageCropper/manifest.yml
  segmenters/image/RandomImageCropper/tests/test_segmenter.py
  segmenters/image/SlidingWindowImageCropper/__init__.py
  segmenters/image/SlidingWindowImageCropper/manifest.yml
  segmenters/image/SlidingWindowImageCropper/tests/test_segmenter.py
  segmenters/image/TorchObjectDetectionSegmenter/__init__.py
  segmenters/image/TorchObjectDetectionSegmenter/manifest.yml
  segmenters/image/TorchObjectDetectionSegmenter/tests/test_torchobjectdetectionsegmenter.py
Labels: size/L, tests, type/manifest, type/python

#5594 feat: use single decorator for image crafters
  crafters/image/AlbumentationsCrafter/manifest.yml
  crafters/image/AlbumentationsCrafter/tests/test_albumentationscrafter.py
  crafters/image/CenterImageCropper/tests/test_centerimagecropper.py
  crafters/image/ImageCropper/tests/test_imagecropper.py
  crafters/image/ImageFlipper/tests/test_imageflipper.py
  crafters/image/ImageNormalizer/tests/test_imagenormalizer.py
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageReader/tests/test_imagereader.py
  crafters/image/ImageResizer/tests/test_imageresizer.py
Labels: component/crafter, size/M, tests, type/manifest, type/python

#5789 feat: use single decorator for nlp segmenters
  segmenters/nlp/DeepSegmenter/__init__.py
  segmenters/nlp/DeepSegmenter/manifest.yml
  segmenters/nlp/DeepSegmenter/tests/test_deepsegmenter.py
  segmenters/nlp/JiebaSegmenter/__init__.py
  segmenters/nlp/JiebaSegmenter/manifest.yml
  segmenters/nlp/JiebaSegmenter/tests/test_jiebasegmenter.py
  segmenters/nlp/PDFExtractorSegmenter/__init__.py
  segmenters/nlp/PDFExtractorSegmenter/manifest.yml
  segmenters/nlp/PDFExtractorSegmenter/tests/test_pdf_flow.py
  segmenters/nlp/PDFExtractorSegmenter/tests/test_pdfextractorcrafter.py
  segmenters/nlp/Sentencizer/__init__.py
  segmenters/nlp/Sentencizer/manifest.yml
  segmenters/nlp/Sentencizer/tests/test_sentencizer.py
  segmenters/nlp/SlidingWindowSegmenter/__init__.py
  segmenters/nlp/SlidingWindowSegmenter/manifest.yml
  segmenters/nlp/SlidingWindowSegmenter/tests/test_slidingwindowsegmenter.py
  segmenters/nlp/SpacySentencizer/__init__.py
  segmenters/nlp/SpacySentencizer/manifest.yml
  segmenters/nlp/SpacySentencizer/tests/test_spacysentencizer.py
Labels: size/M, tests, type/manifest, type/python

#3670 feat: add LightGBMRanker
  rankers/LightGBMRanker/Dockerfile
  rankers/LightGBMRanker/README.md
  rankers/LightGBMRanker/__init__.py
  rankers/LightGBMRanker/config.yml
  rankers/LightGBMRanker/manifest.yml
  rankers/LightGBMRanker/requirements.txt
  rankers/LightGBMRanker/tests/__init__.py
  rankers/LightGBMRanker/tests/test_lightgbmranker.py
  rankers/LightGBMRanker/tests/training_dataset.train
  rankers/LightGBMRanker/tests/training_dataset.train.query
Labels: component/ranker, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#5505 feat: use single decorator for nlp crafters
  crafters/nlp/TikaExtractor/__init__.py
  crafters/nlp/TikaExtractor/manifest.yml
  crafters/nlp/TikaExtractor/tests/test_tikaextractor.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#5592 feat: use single decorator for numeric crafters
  crafters/numeric/ArrayBytesReader/__init__.py
  crafters/numeric/ArrayBytesReader/manifest.yml
  crafters/numeric/ArrayBytesReader/tests/test_arraybytesreader.py
  crafters/numeric/ArrayStringReader/__init__.py
  crafters/numeric/ArrayStringReader/manifest.yml
  crafters/numeric/ArrayStringReader/tests/test_arraystringreader.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#6100 Add usage for Chroma Pitch Audio Encoder
  encoders/audio/ChromaPitchEncoder/README.md
  encoders/audio/ChromaPitchEncoder/__init__.py
  encoders/audio/ChromaPitchEncoder/manifest.yml
  encoders/audio/ChromaPitchEncoder/tests/test_chromapitchencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#6013 Feat nltk sentencizer 5790
  segmenters/nlp/NLTKSentencizer/Dockerfile
  segmenters/nlp/NLTKSentencizer/README.md
  segmenters/nlp/NLTKSentencizer/__init__.py
  segmenters/nlp/NLTKSentencizer/config.yml
  segmenters/nlp/NLTKSentencizer/manifest.yml
  segmenters/nlp/NLTKSentencizer/requirements.txt
  segmenters/nlp/NLTKSentencizer/tests/__init__.py
  segmenters/nlp/NLTKSentencizer/tests/test_nltksentencizer.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#6190 Usage for mfcc encoder
  encoders/audio/MFCCTimbreEncoder/README.md
  encoders/audio/MFCCTimbreEncoder/__init__.py
  encoders/audio/MFCCTimbreEncoder/manifest.yml
  encoders/audio/MFCCTimbreEncoder/tests/test_mfcctimbreencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#6283 refactor: remove single_multi_input
  crafters/image/ImageReader/__init__.py
  crafters/image/ImageReader/manifest.yml
  crafters/nlp/TikaExtractor/__init__.py
  crafters/nlp/TikaExtractor/manifest.yml
  segmenters/nlp/PDFExtractorSegmenter/__init__.py
  segmenters/nlp/PDFExtractorSegmenter/manifest.yml
Labels: component/crafter, size/S, type/manifest, type/python

#6374 fix: fix clipzeroshotclassifier
  classifiers/image/CLIPZeroShotClassifier/__init__.py
  classifiers/image/CLIPZeroShotClassifier/manifest.yml
Labels: size/S, type/manifest, type/python

#6375 fix(bimatch): fix group by order
  rankers/BiMatchRanker/__init__.py
  rankers/BiMatchRanker/manifest.yml
  rankers/BiMatchRanker/tests/test_bimatchranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#5792 feat: add UMAP encoder
  encoders/numeric/UMAPEncoder/Dockerfile
  encoders/numeric/UMAPEncoder/README.md
  encoders/numeric/UMAPEncoder/__init__.py
  encoders/numeric/UMAPEncoder/config.yml
  encoders/numeric/UMAPEncoder/manifest.yml
  encoders/numeric/UMAPEncoder/requirements.txt
  encoders/numeric/UMAPEncoder/tests/__init__.py
  encoders/numeric/UMAPEncoder/tests/test_umapencoder.py
  encoders/numeric/UMAPEncoder/train_default_model.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#6469 fix: fix torch import in clip image encoder
  encoders/image/CLIPImageEncoder/__init__.py
  encoders/image/CLIPImageEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#6748 fix(redis): use pipeline
  indexers/keyvalue/RedisDBIndexer/__init__.py
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/tests/test_redisdbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#6747 Refactor leveldbindexer update
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#6470 docs(umapencoder): fix code snippet formatting
  encoders/numeric/UMAPEncoder/README.md
  encoders/numeric/UMAPEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest

#6841 chore(deps): bump lightgbm in /rankers/LightGBMRanker
  rankers/LightGBMRanker/__init__.py
  rankers/LightGBMRanker/manifest.yml
  rankers/LightGBMRanker/requirements.txt
Labels: component/ranker, size/XS, type/manifest, type/python

#6842 chore(deps): bump levenshtein in /rankers/LevenshteinRanker
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/requirements.txt
Labels: component/ranker, size/XS, type/manifest, type/python

#6844 chore: version bump to test issues with hub database
  crafters/numeric/ArrayStringReader/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#6846 ci: pass right token to builder action
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#6847 chore: version bump to test issues with hub database
  crafters/numeric/ArrayStringReader/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#6749 feat(classifier): implement transformer torch sequence classifier
  classifiers/nlp/TransformersTorchSeqClassifier/Dockerfile
  classifiers/nlp/TransformersTorchSeqClassifier/README.md
  classifiers/nlp/TransformersTorchSeqClassifier/__init__.py
  classifiers/nlp/TransformersTorchSeqClassifier/config.yml
  classifiers/nlp/TransformersTorchSeqClassifier/env.yml
  classifiers/nlp/TransformersTorchSeqClassifier/env_gpu.yml
  classifiers/nlp/TransformersTorchSeqClassifier/gpu.Dockerfile
  classifiers/nlp/TransformersTorchSeqClassifier/manifest.yml
  classifiers/nlp/TransformersTorchSeqClassifier/requirements.txt
  classifiers/nlp/TransformersTorchSeqClassifier/tests/__init__.py
  classifiers/nlp/TransformersTorchSeqClassifier/tests/test_transformerstorchseqclassifier.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#6655 feat: add FaceNetEncoder
  encoders/image/FaceNetEncoder/Dockerfile
  encoders/image/FaceNetEncoder/README.md
  encoders/image/FaceNetEncoder/__init__.py
  encoders/image/FaceNetEncoder/config.yml
  encoders/image/FaceNetEncoder/imgs/man_piercing.jpg
  encoders/image/FaceNetEncoder/manifest.yml
  encoders/image/FaceNetEncoder/requirements.txt
  encoders/image/FaceNetEncoder/tests/__init__.py
  encoders/image/FaceNetEncoder/tests/test_facenetencoder.py
Labels: component/encoder, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#6939 ci: change to pull_request_target to allow community pr
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#7006 Bump pillow for image crafters, segmenters, nlp video, pdf executors
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/CenterImageCropper/requirements.txt
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageCropper/requirements.txt
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageFlipper/requirements.txt
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageNormalizer/requirements.txt
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageReader/requirements.txt
  crafters/image/ImageResizer/manifest.yml
  crafters/image/ImageResizer/requirements.txt
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
  encoders/nlp/TextPaddlehubEncoder/requirements.txt
  encoders/video/VideoPaddleEncoder/manifest.yml
  encoders/video/VideoPaddleEncoder/requirements.txt
  segmenters/image/FiveImageCropper/manifest.yml
  segmenters/image/FiveImageCropper/requirements.txt
  segmenters/image/RandomImageCropper/manifest.yml
  segmenters/image/RandomImageCropper/requirements.txt
  segmenters/image/SlidingWindowImageCropper/manifest.yml
  segmenters/image/SlidingWindowImageCropper/requirements.txt
  segmenters/image/TorchObjectDetectionSegmenter/manifest.yml
  segmenters/image/TorchObjectDetectionSegmenter/requirements.txt
  segmenters/nlp/PDFExtractorSegmenter/manifest.yml
  segmenters/nlp/PDFExtractorSegmenter/requirements.txt
Labels: component/crafter, component/encoder, size/S, type/manifest

#7094 build(dependabot): init for docker and pip
  .github/dependabot.yml
  encoders/numeric/UMAPEncoder/Dockerfile
  encoders/numeric/UMAPEncoder/manifest.yml
  indexers/vector/ScannIndexer/manifest.yml
  indexers/vector/ScannIndexer/requirements.txt
Labels: area/housekeeping, component/encoder, component/indexer, size/S, type/dockerfile, type/manifest

#7097 ci(auth): reverting to default token
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#6654 feat: add FaceNetSegmenter
  segmenters/image/FaceNetSegmenter/Dockerfile
  segmenters/image/FaceNetSegmenter/README.md
  segmenters/image/FaceNetSegmenter/__init__.py
  segmenters/image/FaceNetSegmenter/config.yml
  segmenters/image/FaceNetSegmenter/imgs/five_faces.jpg
  segmenters/image/FaceNetSegmenter/imgs/four_faces.jpg
  segmenters/image/FaceNetSegmenter/imgs/one_face.jpg
  segmenters/image/FaceNetSegmenter/imgs/three_faces.jpg
  segmenters/image/FaceNetSegmenter/manifest.yml
  segmenters/image/FaceNetSegmenter/requirements.txt
  segmenters/image/FaceNetSegmenter/tests/__init__.py
  segmenters/image/FaceNetSegmenter/tests/test_facenetsegmenter.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#7169 fix(dependabot): proper directory for few modules
  .github/dependabot.yml
Labels: area/housekeeping, size/S

#7170 ci: disable hub updater action
  .github/workflows/update-test.yml
Labels: area/cicd, area/housekeeping, size/XS
