Repository jina-ai/jina-hub, pull requests merged in 2021-02, with the labels that each got.

#3048 fix timeout ready transformertorchencoder
  encoders/nlp/TransformerTorchEncoder/Dockerfile
  encoders/nlp/TransformerTorchEncoder/gpu.Dockerfile
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#3050 docs: zarrindexer crud
  indexers/vector/ZarrIndexer/__init__.py
  indexers/vector/ZarrIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#3053 docs: scannindexer crud
  indexers/vector/ScannIndexer/__init__.py
  indexers/vector/ScannIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest, type/python

#3054 docs: nmslibindexer crud
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/NmsLibIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#3056 Docs annoyindexer crud
  indexers/vector/AnnoyIndexer/__init__.py
  indexers/vector/AnnoyIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#3410 fix: need an image built for these
  indexers/vector/AnnoyIndexer/__init__.py
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/tests/test_annoyindexer.py
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#3502 fix: warning universal sentence encoders
  encoders/nlp/UniversalSentenceEncoder/__init__.py
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
Labels: component/encoder, size/XS, type/manifest, type/python

#3503 fix: raise caught exception
  indexers/keyvalue/RedisDBIndexer/__init__.py
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/tests/test_redisdbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#3423 fix: mongodb no longer fails silently and add docstrings
  indexers/keyvalue/MongoDBIndexer/Dockerfile
  indexers/keyvalue/MongoDBIndexer/__init__.py
  indexers/keyvalue/MongoDBIndexer/manifest.yml
  indexers/keyvalue/MongoDBIndexer/mongodbhandler.py
Labels: component/indexer, size/S, type/dockerfile, type/manifest, type/python

#3046 Docs redisdbindexer crud
  indexers/keyvalue/RedisDBIndexer/__init__.py
  indexers/keyvalue/RedisDBIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#3412 fix: adapt nms and ngt indexers to use query_by_key, _int2ext_id
  indexers/vector/NGTIndexer/__init__.py
  indexers/vector/NGTIndexer/manifest.yml
  indexers/vector/NGTIndexer/tests/test_ngtindexer.py
  indexers/vector/NmsLibIndexer/__init__.py
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/requirements.txt
  indexers/vector/NmsLibIndexer/tests/test_nmslibindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#3535 docs: docstring pdfextractor
  segmenters/nlp/PDFExtractorSegmenter/__init__.py
  segmenters/nlp/PDFExtractorSegmenter/manifest.yml
Labels: size/S, type/manifest, type/python

#3500 fix: fix zarr sptag
  indexers/vector/ZarrIndexer/__init__.py
  indexers/vector/ZarrIndexer/manifest.yml
  indexers/vector/ZarrIndexer/tests/test_zarrindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#3548 docs: docstrings for segmenters/NLP
  segmenters/nlp/DeepSegmenter/__init__.py
  segmenters/nlp/DeepSegmenter/manifest.yml
  segmenters/nlp/JiebaSegmenter/__init__.py
  segmenters/nlp/JiebaSegmenter/manifest.yml
  segmenters/nlp/Sentencizer/__init__.py
  segmenters/nlp/Sentencizer/manifest.yml
  segmenters/nlp/SlidingWindowSegmenter/__init__.py
  segmenters/nlp/SlidingWindowSegmenter/manifest.yml
Labels: size/M, type/manifest, type/python

#3051 docs: ngtindexer crud
  indexers/vector/NGTIndexer/__init__.py
  indexers/vector/NGTIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#3537 docs: redis interfaces
  indexers/keyvalue/RedisDBIndexer/__init__.py
  indexers/keyvalue/RedisDBIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python

#3049 docs: sptagindexer crud
  indexers/vector/SptagIndexer/__init__.py
  indexers/vector/SptagIndexer/manifest.yml
  indexers/vector/SptagIndexer/tests/test_sptagindexer.py
Labels: component/indexer, size/S, tests, type/dockerfile, type/manifest, type/python

#3052 Docs leveldbindexer crud
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#3632 docs: docstring for segmenters/image
  segmenters/image/FiveImageCropper/__init__.py
  segmenters/image/FiveImageCropper/manifest.yml
  segmenters/image/RandomImageCropper/__init__.py
  segmenters/image/RandomImageCropper/manifest.yml
  segmenters/image/SlidingWindowImageCropper/__init__.py
  segmenters/image/SlidingWindowImageCropper/manifest.yml
  segmenters/image/TorchObjectDetectionSegmenter/__init__.py
  segmenters/image/TorchObjectDetectionSegmenter/manifest.yml
Labels: size/M, type/manifest, type/python

#3633 docs: docstring for segmenters/audio
  segmenters/audio/AudioSlicer/__init__.py
  segmenters/audio/AudioSlicer/manifest.yml
  segmenters/audio/SlidingWindowAudioSlicer/__init__.py
  segmenters/audio/SlidingWindowAudioSlicer/manifest.yml
Labels: size/S, type/manifest, type/python

#3045 docs: mongodbindexer crud
  indexers/keyvalue/MongoDBIndexer/Dockerfile
  indexers/keyvalue/MongoDBIndexer/__init__.py
  indexers/keyvalue/MongoDBIndexer/manifest.yml
  indexers/keyvalue/MongoDBIndexer/mongodbhandler.py
  indexers/keyvalue/MongoDBIndexer/requirements.txt
  indexers/keyvalue/MongoDBIndexer/tests/test_mongodbindexer.py
Labels: component/indexer, size/M, tests, type/dockerfile, type/manifest, type/python

#3499 feat: add documentation for big transfer encoder
  encoders/image/BigTransferEncoder/README.md
  encoders/image/BigTransferEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest

#3646 feat: update hub readme for graphics, feature info
  .github/Hub.png
  .github/Hub.svg
  README.md
Labels: area/housekeeping, area/hub, size/M

#3648 fix: update readme table
  README.md
Labels: size/XS

#3673 docs: docstrings crafters/audio
  crafters/audio/AudioMonophoner/__init__.py
  crafters/audio/AudioMonophoner/manifest.yml
  crafters/audio/AudioNormalizer/__init__.py
  crafters/audio/AudioNormalizer/manifest.yml
  crafters/audio/AudioReader/__init__.py
  crafters/audio/AudioReader/manifest.yml
Labels: component/crafter, size/S, type/manifest, type/python

#3675 fix: scann indexer
  indexers/vector/ScannIndexer/Dockerfile
  indexers/vector/ScannIndexer/__init__.py
  indexers/vector/ScannIndexer/manifest.yml
  indexers/vector/ScannIndexer/tests/test_scannindexer.py
Labels: component/indexer, size/S, tests, type/dockerfile, type/manifest, type/python

#3674 feat: add link to hub.jina.ai
  README.md
Labels: documentation, size/XS

#3671 fix: type does not match expected one
  rankers/LevenshteinRanker/__init__.py
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/tests/test_levenshteinranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#3772 docs: docstring for crafters
  crafters/numeric/ArrayBytesReader/__init__.py
  crafters/numeric/ArrayBytesReader/manifest.yml
  crafters/numeric/ArrayStringReader/__init__.py
  crafters/numeric/ArrayStringReader/manifest.yml
Labels: component/crafter, size/S, type/manifest, type/python

#3676 fix: ndcg evaluator
  evaluators/rank/NdcgEvaluator/manifest.yml
Labels: size/XS, type/manifest

#3840 docs: docstrings for crafters/image
  crafters/image/AlbumentationsCrafter/__init__.py
  crafters/image/AlbumentationsCrafter/manifest.yml
  crafters/image/CenterImageCropper/__init__.py
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/ImageCropper/__init__.py
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageFlipper/__init__.py
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageReader/__init__.py
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageResizer/__init__.py
  crafters/image/ImageResizer/manifest.yml
Labels: component/crafter, size/M, type/manifest, type/python

#3850 docs: docstring for encoders/video
  encoders/video/VideoPaddleEncoder/__init__.py
  encoders/video/VideoPaddleEncoder/manifest.yml
  encoders/video/VideoTorchEncoder/__init__.py
  encoders/video/VideoTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#3754 docs: docstring for Tika crafter
  crafters/nlp/TikaExtractor/__init__.py
  crafters/nlp/TikaExtractor/manifest.yml
Labels: component/crafter, size/S, type/manifest, type/python

#3868 docs: add documentation for AudioNormalizer
  crafters/audio/AudioNormalizer/README.md
  crafters/audio/AudioNormalizer/manifest.yml
Labels: component/crafter, size/S, type/manifest

#3867 docs: add documentation for AudioReader
  crafters/audio/AudioReader/README.md
  crafters/audio/AudioReader/manifest.yml
Labels: component/crafter, size/S, type/manifest

#3877 fix(crafter): crafter should not set weight
  crafters/audio/AudioMonophoner/__init__.py
  crafters/audio/AudioNormalizer/__init__.py
  crafters/audio/AudioReader/__init__.py
  crafters/image/CenterImageCropper/__init__.py
  crafters/image/ImageCropper/__init__.py
  crafters/image/ImageFlipper/__init__.py
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageReader/__init__.py
  crafters/image/ImageResizer/__init__.py
  crafters/numeric/ArrayBytesReader/__init__.py
  crafters/numeric/ArrayStringReader/__init__.py
Labels: component/crafter, size/S, type/python

#3849 docs: docstring for encoders/audio
  encoders/audio/ChromaPitchEncoder/__init__.py
  encoders/audio/ChromaPitchEncoder/manifest.yml
  encoders/audio/MFCCTimbreEncoder/__init__.py
  encoders/audio/MFCCTimbreEncoder/manifest.yml
  encoders/audio/Wav2VecSpeechEncoder/Dockerfile
  encoders/audio/Wav2VecSpeechEncoder/__init__.py
  encoders/audio/Wav2VecSpeechEncoder/manifest.yml
Labels: component/encoder, size/M, type/dockerfile, type/manifest, type/python

#3862 feat: fix NDCGEvaluator plus add docs and readme
  evaluators/rank/NdcgEvaluator/Dockerfile
  evaluators/rank/NdcgEvaluator/README.md
  evaluators/rank/NdcgEvaluator/__init__.py
  evaluators/rank/NdcgEvaluator/manifest.yml
  evaluators/rank/NdcgEvaluator/tests/test_ndcg_evaluator.py
Labels: size/M, tests, type/dockerfile, type/manifest, type/python

#3873 fix: fix average precision evaluator
  evaluators/rank/AveragePrecision/README.md
  evaluators/rank/AveragePrecision/__init__.py
  evaluators/rank/AveragePrecision/manifest.yml
  evaluators/rank/AveragePrecision/tests/test_averageprecisionevaluator.py
Labels: size/M, tests, type/manifest, type/python

#3869 docs: add documentation for ImageReader
  crafters/image/ImageReader/README.md
  crafters/image/ImageReader/manifest.yml
Labels: component/crafter, size/S, type/manifest

#3870 docs: typo and link to readme
  crafters/audio/AudioNormalizer/README.md
  crafters/audio/AudioNormalizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest

#3865 docs(slidingwindowsegmenter): update readme and manifest
  segmenters/nlp/SlidingWindowSegmenter/README.md
  segmenters/nlp/SlidingWindowSegmenter/manifest.yml
Labels: size/S, type/manifest

#3874 docs: add docstring for tirg image encoder
  encoders/image/TirgImageEncoder/README.md
  encoders/image/TirgImageEncoder/__init__.py
  encoders/image/TirgImageEncoder/img_text_composition_models.py
  encoders/image/TirgImageEncoder/manifest.yml
  encoders/image/TirgImageEncoder/tests/test_tirg_image_encoder.py
  encoders/image/TirgImageEncoder/text_model.py
  encoders/image/TirgImageEncoder/torch_functions.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#3863 docs(sentencizer): update readme and manifest
  segmenters/nlp/Sentencizer/README.md
  segmenters/nlp/Sentencizer/manifest.yml
  segmenters/nlp/Sentencizer/tests/test_sentencizer.py
Labels: size/S, tests, type/manifest, type/python

#3864 docs(deepsegmenter): update readme and manifest
  segmenters/nlp/DeepSegmenter/README.md
  segmenters/nlp/DeepSegmenter/manifest.yml
Labels: size/S, type/manifest

#3878 docs: add docstring for vse image encoder
  encoders/image/VSEImageEncoder/README.md
  encoders/image/VSEImageEncoder/__init__.py
  encoders/image/VSEImageEncoder/manifest.yml
  encoders/image/VSEImageEncoder/tests/test_vseimageencoder.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#3879 fix: keras image encoder respects model name
  encoders/image/ImageKerasEncoder/__init__.py
  encoders/image/ImageKerasEncoder/manifest.yml
  encoders/image/ImageKerasEncoder/tests/test_tfkeras.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#3851 docs: docstring for encoders/nlp
  encoders/nlp/FarmTextEncoder/__init__.py
  encoders/nlp/FarmTextEncoder/manifest.yml
  encoders/nlp/FlairTextEncoder/__init__.py
  encoders/nlp/FlairTextEncoder/manifest.yml
  encoders/nlp/LaserEncoder/__init__.py
  encoders/nlp/LaserEncoder/manifest.yml
  encoders/nlp/OneHotTextEncoder/__init__.py
  encoders/nlp/OneHotTextEncoder/manifest.yml
  encoders/nlp/TextPaddlehubEncoder/__init__.py
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/UniversalSentenceEncoder/__init__.py
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
  encoders/nlp/VSETextEncoder/Dockerfile
  encoders/nlp/VSETextEncoder/__init__.py
  encoders/nlp/VSETextEncoder/manifest.yml
  encoders/nlp/VSETextEncoder/tests/test_vsetextencoder.py
Labels: component/encoder, size/M, tests, type/dockerfile, type/manifest, type/python

#3880 fix: fix and update docs and readmes for reciprocalrank
  evaluators/rank/ReciprocalRankEvaluator/README.md
  evaluators/rank/ReciprocalRankEvaluator/__init__.py
  evaluators/rank/ReciprocalRankEvaluator/manifest.yml
  evaluators/rank/ReciprocalRankEvaluator/tests/test_reciprocalrankevaluator.py
Labels: size/M, tests, type/manifest, type/python

#3881 fix: rename and generalize fScore
  evaluators/rank/FScoreEvaluator/Dockerfile
  evaluators/rank/FScoreEvaluator/README.md
  evaluators/rank/FScoreEvaluator/__init__.py
  evaluators/rank/FScoreEvaluator/config.yml
  evaluators/rank/FScoreEvaluator/manifest.yml
  evaluators/rank/FScoreEvaluator/tests/__init__.py
  evaluators/rank/FScoreEvaluator/tests/test_fscore.py
  evaluators/rank/f1ScoreEvaluator/README.md
  evaluators/rank/f1ScoreEvaluator/__init__.py
  evaluators/rank/f1ScoreEvaluator/manifest.yml
  evaluators/rank/f1ScoreEvaluator/tests/test_f1score.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#4234 docstrings for encoder/video
  encoders/video/VideoPaddleEncoder/__init__.py
  encoders/video/VideoPaddleEncoder/manifest.yml
  encoders/video/VideoTorchEncoder/__init__.py
  encoders/video/VideoTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#3968 docs: docstring for encoders/numeric
  encoders/numeric/CompressionVaeEncoder/__init__.py
  encoders/numeric/CompressionVaeEncoder/manifest.yml
  encoders/numeric/FastICAEncoder/__init__.py
  encoders/numeric/FastICAEncoder/manifest.yml
  encoders/numeric/FeatureAgglomerationEncoder/__init__.py
  encoders/numeric/FeatureAgglomerationEncoder/manifest.yml
  encoders/numeric/IncrementalPCAEncoder/__init__.py
  encoders/numeric/IncrementalPCAEncoder/manifest.yml
  encoders/numeric/RandomGaussianEncoder/__init__.py
  encoders/numeric/RandomGaussianEncoder/manifest.yml
  encoders/numeric/RandomSparseEncoder/__init__.py
  encoders/numeric/RandomSparseEncoder/manifest.yml
  encoders/numeric/TSNEEncoder/__init__.py
  encoders/numeric/TSNEEncoder/manifest.yml
Labels: component/encoder, size/M, type/manifest, type/python

#4239 docs: docstring for evaluators/rankers
  evaluators/rank/AveragePrecision/__init__.py
  evaluators/rank/AveragePrecision/manifest.yml
  evaluators/rank/FScoreEvaluator/__init__.py
  evaluators/rank/FScoreEvaluator/manifest.yml
  evaluators/rank/NdcgEvaluator/__init__.py
  evaluators/rank/NdcgEvaluator/manifest.yml
  evaluators/rank/ReciprocalRankEvaluator/__init__.py
  evaluators/rank/ReciprocalRankEvaluator/manifest.yml
Labels: size/M, type/manifest, type/python

#4235 docs: docstrings for evaluators
  evaluators/embedding/InfiniteNormEvaluator/__init__.py
  evaluators/embedding/InfiniteNormEvaluator/manifest.yml
  evaluators/embedding/L1NormEvaluator/__init__.py
  evaluators/embedding/L1NormEvaluator/manifest.yml
  evaluators/embedding/MinkowskiDistanceEvaluator/__init__.py
  evaluators/embedding/MinkowskiDistanceEvaluator/manifest.yml
Labels: size/S, type/manifest, type/python

#3871 docs: add documentation for ImageNormalizer
  crafters/image/ImageNormalizer/README.md
  crafters/image/ImageNormalizer/manifest.yml
Labels: component/crafter, component/encoder, size/S, type/manifest, type/python

#4236 feat: add docs for keras image encoder
  encoders/image/ImageKerasEncoder/README.md
  encoders/image/ImageKerasEncoder/__init__.py
  encoders/image/ImageKerasEncoder/manifest.yml
  encoders/image/ImageKerasEncoder/tests/test_tfkeras.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#4327 fix: fix simpleaggregate tests
  rankers/SimpleAggregateRanker/config.yml
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/SimpleAggregateRanker/tests/test_aggregate_ranker.py
Labels: component/ranker, size/S, tests, type/config, type/manifest, type/python

#4240 docs: add missing dosctrings and remove line for constructor for NLP
  encoders/nlp/FarmTextEncoder/__init__.py
  encoders/nlp/FarmTextEncoder/manifest.yml
  encoders/nlp/FlairTextEncoder/__init__.py
  encoders/nlp/FlairTextEncoder/manifest.yml
  encoders/nlp/LaserEncoder/__init__.py
  encoders/nlp/LaserEncoder/manifest.yml
  encoders/nlp/OneHotTextEncoder/__init__.py
  encoders/nlp/OneHotTextEncoder/manifest.yml
  encoders/nlp/TextPaddlehubEncoder/__init__.py
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/UniversalSentenceEncoder/__init__.py
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
  encoders/nlp/VSETextEncoder/__init__.py
  encoders/nlp/VSETextEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#4146 fix: add deprecated param for simpleaggregateranker
  rankers/SimpleAggregateRanker/__init__.py
  rankers/SimpleAggregateRanker/manifest.yml
Labels: component/ranker, size/XS, type/manifest, type/python

#4147 feat(segmenter): add spacy sentencizer
  segmenters/nlp/SpacySentencizer/Dockerfile
  segmenters/nlp/SpacySentencizer/README.md
  segmenters/nlp/SpacySentencizer/__init__.py
  segmenters/nlp/SpacySentencizer/config.yml
  segmenters/nlp/SpacySentencizer/manifest.yml
  segmenters/nlp/SpacySentencizer/requirements.txt
  segmenters/nlp/SpacySentencizer/tests/__init__.py
  segmenters/nlp/SpacySentencizer/tests/test_spacysentencizer.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#4237 docs: docstrings and readme for BiMatchRanker
  rankers/BiMatchRanker/README.md
  rankers/BiMatchRanker/__init__.py
  rankers/BiMatchRanker/manifest.yml
  rankers/BiMatchRanker/tests/test_bimatchranker.py
Labels: component/ranker, size/M, tests, type/manifest, type/python

#4333 docs(AlbumentationsCrafter): fix markdown tables in readme
  crafters/image/AlbumentationsCrafter/README.md
  crafters/image/AlbumentationsCrafter/manifest.yml
Labels: component/crafter, size/S, type/manifest

#4334 docs: fix transformer docstrings
  encoders/nlp/TransformerTFEncoder/__init__.py
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#4421 docs: add note on providing args
  indexers/keyvalue/MongoDBIndexer/README.md
  indexers/keyvalue/MongoDBIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest

#4238 docs: document redis indexer more
  indexers/keyvalue/RedisDBIndexer/README.md
  indexers/keyvalue/RedisDBIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest

#4510 docs: docstring for encoders/image
  encoders/image/ImageKerasEncoder/__init__.py
  encoders/image/ImageKerasEncoder/manifest.yml
  encoders/image/ImageOnnxEncoder/__init__.py
  encoders/image/ImageOnnxEncoder/manifest.yml
  encoders/image/ImagePaddlehubEncoder/__init__.py
  encoders/image/ImagePaddlehubEncoder/manifest.yml
Labels: component/encoder, size/M, type/manifest, type/python

#4423 fix: docstring for l1 norm evaluator
  evaluators/embedding/L1NormEvaluator/README.md
  evaluators/embedding/L1NormEvaluator/__init__.py
  evaluators/embedding/L1NormEvaluator/manifest.yml
  evaluators/embedding/L1NormEvaluator/tests/test_l1norm.py
Labels: size/S, tests, type/manifest, type/python

#4518 test(ranker): add test on deprecated param
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/SimpleAggregateRanker/tests/test_aggregate_ranker.py
Labels: component/ranker, size/S, tests, type/manifest, type/python

#4509 docs: add mising docstrings
  encoders/audio/Wav2VecSpeechEncoder/__init__.py
  encoders/audio/Wav2VecSpeechEncoder/manifest.yml
  encoders/image/BigTransferEncoder/__init__.py
  encoders/image/BigTransferEncoder/manifest.yml
  encoders/image/CustomImageTorchEncoder/__init__.py
  encoders/image/CustomImageTorchEncoder/manifest.yml
Labels: component/encoder, size/M, type/manifest, type/python

#4600 docs: documentaiton update video torch encoder
  encoders/video/VideoTorchEncoder/README.md
  encoders/video/VideoTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest

#4599 docs: updated readme and manifest
  encoders/image/CustomImageTorchEncoder/README.md
  encoders/image/CustomImageTorchEncoder/__init__.py
  encoders/image/CustomImageTorchEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#4688 fix(segmenter): remove meta info
  segmenters/image/TorchObjectDetectionSegmenter/__init__.py
  segmenters/image/TorchObjectDetectionSegmenter/manifest.yml
  segmenters/image/TorchObjectDetectionSegmenter/tests/test_torchobjectdetectionsegmenter.py
Labels: size/S, tests, type/manifest, type/python
