Repository jina-ai/jina-hub, pull requests merged in 2021-01, with the labels that each got.

#1757 fix: remove jina dependency from annoy req
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/requirements.txt
Labels: component/indexer, size/XS, type/manifest

#1783 fix: convert to python3
  encoders/image/TirgImageEncoder/datasets.py
  encoders/image/TirgImageEncoder/manifest.yml
  encoders/multimodal/TirgMultimodalEncoder/datasets.py
  encoders/multimodal/TirgMultimodalEncoder/manifest.yml
Labels: component/encoder, size/XL, type/manifest, type/python

#1682 refactor: remove metric from evaluators
  evaluators/embedding/InfiniteNormEvaluator/__init__.py
  evaluators/embedding/InfiniteNormEvaluator/manifest.yml
  evaluators/embedding/InfiniteNormEvaluator/tests/test_infinitenorm.py
  evaluators/embedding/L1NormEvaluator/__init__.py
  evaluators/embedding/L1NormEvaluator/manifest.yml
  evaluators/embedding/L1NormEvaluator/tests/test_l1norm.py
  evaluators/embedding/MinkowskiDistanceEvaluator/__init__.py
  evaluators/embedding/MinkowskiDistanceEvaluator/manifest.yml
  evaluators/embedding/MinkowskiDistanceEvaluator/tests/test_minkowskidistance.py
  evaluators/rank/AveragePrecision/__init__.py
  evaluators/rank/AveragePrecision/manifest.yml
  evaluators/rank/AveragePrecision/tests/test_averageprecisionevaluator.py
  evaluators/rank/NdcgEvaluator/__init__.py
  evaluators/rank/NdcgEvaluator/mainfest.yml
  evaluators/rank/NdcgEvaluator/tests/test_ndcg_evaluator.py
  evaluators/rank/ReciprocalRankEvaluator/__init__.py
  evaluators/rank/ReciprocalRankEvaluator/manifest.yml
  evaluators/rank/f1ScoreEvaluator/__init__.py
  evaluators/rank/f1ScoreEvaluator/manifest.yml
  evaluators/rank/f1ScoreEvaluator/tests/test_f1score.py
  evaluators/text/BleuEvaluator/__init__.py
  evaluators/text/BleuEvaluator/tests/test_bleuevaluator.py
  evaluators/text/EditDistanceEvaluator/__init__.py
  evaluators/text/EditDistanceEvaluator/manifest.yml
  evaluators/text/EditDistanceEvaluator/tests/test_editdistanceevaluator.py
  evaluators/text/GleuEvaluator/manifest.yml
  evaluators/text/GleuEvaluator/tests/test_gleuevaluator.py
  evaluators/text/HammingDistanceEvaluator/__init__.py
  evaluators/text/HammingDistanceEvaluator/manifest.yml
  evaluators/text/HammingDistanceEvaluator/tests/test_hammingdistanceevaluator.py
  evaluators/text/JaccardSimilarityEvaluator/__init__.py
  evaluators/text/JaccardSimilarityEvaluator/manifest.yml
  evaluators/text/RougeEvaluator/__init__.py
  evaluators/text/RougeEvaluator/manifest.yml
  evaluators/text/RougeEvaluator/tests/test_rouge_evaluator.py
Labels: size/M, tests, type/manifest, type/python

#1785 fix: fix versions for evaluators
  crafters/nlp/Sentencizer/__init__.py
  evaluators/text/BleuEvaluator/__init__.py
  evaluators/text/BleuEvaluator/manifest.yml
  evaluators/text/BleuEvaluator/requirements.txt
  evaluators/text/BleuEvaluator/tests/test_bleuevaluator.py
  evaluators/text/EditDistanceEvaluator/manifest.yml
  evaluators/text/EditDistanceEvaluator/requirements.txt
  evaluators/text/EditDistanceEvaluator/tests/test_editdistanceevaluator.py
  evaluators/text/GleuEvaluator/manifest.yml
  evaluators/text/GleuEvaluator/requirements.txt
  evaluators/text/GleuEvaluator/tests/test_gleuevaluator.py
  evaluators/text/JaccardSimilarityEvaluator/manifest.yml
  evaluators/text/JaccardSimilarityEvaluator/tests/test_jaccardsimilarityevaluator.py
  evaluators/text/RougeEvaluator/manifest.yml
  evaluators/text/RougeEvaluator/requirements.txt
Labels: component/crafter, size/S, tests, type/manifest, type/python

#1784 fix: set fixed versions requirements except for jina encoders part 3
  encoders/numeric/CompressionVaeEncoder/manifest.yml
  encoders/numeric/CompressionVaeEncoder/requirements.txt
  encoders/numeric/FastICAEncoder/manifest.yml
  encoders/numeric/FastICAEncoder/requirements.txt
  encoders/numeric/FeatureAgglomerationEncoder/manifest.yml
  encoders/numeric/FeatureAgglomerationEncoder/requirements.txt
  encoders/numeric/IncrementalPCAEncoder/manifest.yml
  encoders/numeric/IncrementalPCAEncoder/requirements.txt
  encoders/numeric/RandomGaussianEncoder/manifest.yml
  encoders/numeric/RandomGaussianEncoder/requirements.txt
  encoders/numeric/RandomSparseEncoder/manifest.yml
  encoders/numeric/RandomSparseEncoder/requirements.txt
  encoders/numeric/TSNEEncoder/manifest.yml
  encoders/numeric/TSNEEncoder/requirements.txt
  encoders/video/VideoPaddleEncoder/manifest.yml
  encoders/video/VideoPaddleEncoder/requirements.txt
  encoders/video/VideoTorchEncoder/manifest.yml
  encoders/video/VideoTorchEncoder/requirements.txt
Labels: component/encoder, size/S, type/manifest

#1786 fix: fix versions for indexers and rankers
  indexers/keyvalue/MongoDBIndexer/manifest.yml
  indexers/keyvalue/MongoDBIndexer/requirements.txt
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/requirements.txt
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/requirements.txt
  indexers/vector/NGTIndexer/manifest.yml
  indexers/vector/NGTIndexer/requirements.txt
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/requirements.txt
  indexers/vector/ScannIndexer/Dockerfile
  indexers/vector/ScannIndexer/__init__.py
  indexers/vector/ScannIndexer/manifest.yml
  indexers/vector/ScannIndexer/requirements.txt
  indexers/vector/SptagIndexer/manifest.yml
  indexers/vector/SptagIndexer/requirements.txt
  rankers/LevenshteinRanker/manifest.yml
  rankers/LevenshteinRanker/requirements.txt
Labels: component/indexer, component/ranker, size/S, type/dockerfile, type/manifest, type/python

#1798 docs: remove irrelevant update entry
  README.md
Labels: size/XS

#1805 fix: fix use encoder versions
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
  encoders/nlp/UniversalSentenceEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1803 fix: fix text paddle hub encoder versions
  encoders/nlp/TextPaddlehubEncoder/manifest.yml
  encoders/nlp/TextPaddlehubEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1802 fix: fix transformers encoder versions
  encoders/nlp/TransformerTFEncoder/manifest.yml
  encoders/nlp/TransformerTFEncoder/requirements.txt
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/requirements.txt
Labels: component/encoder, size/S, type/manifest

#1800 fix: fix flai encoder versions
  encoders/nlp/FlairTextEncoder/manifest.yml
  encoders/nlp/FlairTextEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1799 fix: fix farm encoder versions
  encoders/nlp/FarmTextEncoder/manifest.yml
  encoders/nlp/FarmTextEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1797 fix: fix image crafters versions
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/CenterImageCropper/requirements.txt
  crafters/image/FiveImageCropper/manifest.yml
  crafters/image/FiveImageCropper/requirements.txt
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageCropper/requirements.txt
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageFlipper/requirements.txt
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageNormalizer/requirements.txt
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageReader/requirements.txt
  crafters/image/ImageResizer/manifest.yml
  crafters/image/ImageResizer/requirements.txt
  crafters/image/RandomImageCropper/manifest.yml
  crafters/image/RandomImageCropper/requirements.txt
  crafters/image/SlidingWindowImageCropper/manifest.yml
  crafters/image/SlidingWindowImageCropper/requirements.txt
  crafters/image/TorchObjectDetectionSegmenter/manifest.yml
  crafters/image/TorchObjectDetectionSegmenter/requirements.txt
Labels: component/crafter, size/S, type/manifest

#1801 fix: fix laser encoder versions
  encoders/nlp/LaserEncoder/manifest.yml
  encoders/nlp/LaserEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1804 fix: fix vsetext encoder versions
  encoders/nlp/VSETextEncoder/manifest.yml
  encoders/nlp/VSETextEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1806 fix: fix vse image encoder versions
  encoders/image/VSEImageEncoder/manifest.yml
  encoders/image/VSEImageEncoder/requirements.txt
Labels: component/encoder, size/XS, type/manifest

#1781 fix: set fixed versions requirements except for jina in encoders
  encoders/audio/ChromaPitchEncoder/manifest.yml
  encoders/audio/ChromaPitchEncoder/requirements.txt
  encoders/audio/MFCCTimbreEncoder/manifest.yml
  encoders/audio/MFCCTimbreEncoder/requirements.txt
  encoders/audio/Wav2VecSpeechEncoder/manifest.yml
  encoders/audio/Wav2VecSpeechEncoder/requirements.txt
  encoders/image/BigTransferEncoder/manifest.yml
  encoders/image/BigTransferEncoder/requirements.txt
  encoders/image/CustomImageTorchEncoder/manifest.yml
  encoders/image/CustomImageTorchEncoder/requirements.txt
  encoders/image/CustomKerasImageEncoder/manifest.yml
  encoders/image/CustomKerasImageEncoder/requirements.txt
  encoders/image/ImageKerasEncoder/manifest.yml
  encoders/image/ImageKerasEncoder/requirements.txt
  encoders/image/ImageOnnxEncoder/Dockerfile
  encoders/image/ImageOnnxEncoder/manifest.yml
  encoders/image/ImageOnnxEncoder/requirements.txt
  encoders/image/ImageOnnxEncoder/tests/test_onnx_encoder.py
  encoders/image/ImagePaddlehubEncoder/manifest.yml
  encoders/image/ImagePaddlehubEncoder/requirements.txt
  encoders/image/ImageTorchEncoder/manifest.yml
  encoders/image/ImageTorchEncoder/requirements.txt
  encoders/image/TirgImageEncoder/manifest.yml
  encoders/image/TirgImageEncoder/requirements.txt
  encoders/multimodal/TirgMultimodalEncoder/manifest.yml
  encoders/multimodal/TirgMultimodalEncoder/requirements.txt
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#1902 docs: fix docstring Sentencizer
  crafters/nlp/Sentencizer/__init__.py
  crafters/nlp/Sentencizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#1905 fix: fix faiss indexer train everytime
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/XS, tests, type/manifest, type/python

#1906 fix: fix wrap tests
  indexers/vector/AnnoyIndexer/manifest.yml
  indexers/vector/AnnoyIndexer/tests/test_annoyindexer.py
  indexers/vector/AnnoyIndexer/tests/yaml/annoy-wrap.yml
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/requirements.txt
  indexers/vector/NmsLibIndexer/tests/yaml/nmslib-wrap.yml
  indexers/vector/SptagIndexer/manifest.yml
  indexers/vector/SptagIndexer/tests/yaml/sptag-wrap.yml
Labels: component/indexer, size/S, tests, type/manifest, type/python

#1671 docs(readme): prettier dir tree
  README.md
Labels: size/S

#1904 fix: avoid warning when importing
  encoders/nlp/TransformerTorchEncoder/__init__.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
Labels: component/encoder, size/M, type/manifest, type/python

#2029 fix: fix mean evaluation logic in driver
  evaluators/embedding/InfiniteNormEvaluator/manifest.yml
  evaluators/embedding/InfiniteNormEvaluator/tests/test_infinitenorm.py
  evaluators/embedding/L1NormEvaluator/manifest.yml
  evaluators/embedding/L1NormEvaluator/tests/test_l1norm.py
Labels: size/XS, tests, type/manifest, type/python

#2032 fix: fix zarr
  indexers/vector/ZarrIndexer/Dockerfile
  indexers/vector/ZarrIndexer/__init__.py
  indexers/vector/ZarrIndexer/manifest.yml
  indexers/vector/ZarrIndexer/requirements.txt
  indexers/vector/ZarrIndexer/tests/test_zarrindexer.py
Labels: component/indexer, size/S, tests, type/dockerfile, type/manifest, type/python

#2067 fix: set Wav2VecSpeechEncoder default model
  encoders/audio/Wav2VecSpeechEncoder/__init__.py
  encoders/audio/Wav2VecSpeechEncoder/manifest.yml
  encoders/audio/Wav2VecSpeechEncoder/tests/test_wav2vecspeechencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#2069 fix: set default model for custom image keras encoder
  encoders/image/CustomKerasImageEncoder/Dockerfile
  encoders/image/CustomKerasImageEncoder/__init__.py
  encoders/image/CustomKerasImageEncoder/manifest.yml
  encoders/image/CustomKerasImageEncoder/tests/test_customtfkeras.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#2068 fix: set default model for custom image torch encoder
  encoders/image/CustomImageTorchEncoder/Dockerfile
  encoders/image/CustomImageTorchEncoder/__init__.py
  encoders/image/CustomImageTorchEncoder/manifest.yml
  encoders/image/CustomImageTorchEncoder/tests/test_customimagetorchencoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#2155 fix: set default model for image onnx encoder
  encoders/image/ImageOnnxEncoder/Dockerfile
  encoders/image/ImageOnnxEncoder/__init__.py
  encoders/image/ImageOnnxEncoder/manifest.yml
  encoders/image/ImageOnnxEncoder/tests/test_onnx_encoder.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#2156 fix: fix ZarrIndexer adapt to change
  indexers/vector/ZarrIndexer/__init__.py
  indexers/vector/ZarrIndexer/manifest.yml
Labels: component/indexer, size/XS, type/manifest, type/python

#2159 fix: clean tf transformer encoder artifacts
  encoders/nlp/TransformerTFEncoder/Dockerfile
  encoders/nlp/TransformerTFEncoder/manifest.yml
Labels: component/encoder, size/XS, type/dockerfile, type/manifest

#2168 feat: move ImageCropper to Segmenters
  segmenters/image/ImageCropper/Dockerfile
  segmenters/image/ImageCropper/README.md
  segmenters/image/ImageCropper/__init__.py
  segmenters/image/ImageCropper/config.yml
  segmenters/image/ImageCropper/helper.py
  segmenters/image/ImageCropper/manifest.yml
  segmenters/image/ImageCropper/requirements.txt
  segmenters/image/ImageCropper/tests/__init__.py
  segmenters/image/ImageCropper/tests/imgs/cars.jpg
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/car-1.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/car-2.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/car-5.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/car-7.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/car-8.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/person-0.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/person-3.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/person-4.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/person-6.png
  segmenters/image/ImageCropper/tests/imgs/faster_rcnn/person-9.png
  segmenters/image/ImageCropper/tests/test_imagecropper.py
Labels: size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#2165 feat: add set of image segmenters
  segmenters/image/FiveImageCropper/Dockerfile
  segmenters/image/FiveImageCropper/README.md
  segmenters/image/FiveImageCropper/__init__.py
  segmenters/image/FiveImageCropper/config.yml
  segmenters/image/FiveImageCropper/helper.py
  segmenters/image/FiveImageCropper/manifest.yml
  segmenters/image/FiveImageCropper/requirements.txt
  segmenters/image/FiveImageCropper/tests/__init__.py
  segmenters/image/FiveImageCropper/tests/test_segmenter.py
  segmenters/image/RandomImageCropper/Dockerfile
  segmenters/image/RandomImageCropper/README.md
  segmenters/image/RandomImageCropper/__init__.py
  segmenters/image/RandomImageCropper/config.yml
  segmenters/image/RandomImageCropper/helper.py
  segmenters/image/RandomImageCropper/manifest.yml
  segmenters/image/RandomImageCropper/requirements.txt
  segmenters/image/RandomImageCropper/tests/__init__.py
  segmenters/image/RandomImageCropper/tests/test_segmenter.py
  segmenters/image/SlidingWindowImageCropper/Dockerfile
  segmenters/image/SlidingWindowImageCropper/README.md
  segmenters/image/SlidingWindowImageCropper/__init__.py
  segmenters/image/SlidingWindowImageCropper/config.yml
  segmenters/image/SlidingWindowImageCropper/helper.py
  segmenters/image/SlidingWindowImageCropper/manifest.yml
  segmenters/image/SlidingWindowImageCropper/requirements.txt
  segmenters/image/SlidingWindowImageCropper/tests/__init__.py
  segmenters/image/SlidingWindowImageCropper/tests/test_segmenter.py
Labels: size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#2160 feat: add set of nlp segmenters
  segmenters/nlp/DeepSegmenter/Dockerfile
  segmenters/nlp/DeepSegmenter/README.md
  segmenters/nlp/DeepSegmenter/__init__.py
  segmenters/nlp/DeepSegmenter/config.yml
  segmenters/nlp/DeepSegmenter/manifest.yml
  segmenters/nlp/DeepSegmenter/requirements.txt
  segmenters/nlp/DeepSegmenter/tests/__init__.py
  segmenters/nlp/DeepSegmenter/tests/test_deepsegmenter.py
  segmenters/nlp/JiebaSegmenter/Dockerfile
  segmenters/nlp/JiebaSegmenter/README.md
  segmenters/nlp/JiebaSegmenter/__init__.py
  segmenters/nlp/JiebaSegmenter/config.yml
  segmenters/nlp/JiebaSegmenter/manifest.yml
  segmenters/nlp/JiebaSegmenter/requirements.txt
  segmenters/nlp/JiebaSegmenter/tests/__init__.py
  segmenters/nlp/JiebaSegmenter/tests/test_jiebasegmenter.py
  segmenters/nlp/Sentencizer/Dockerfile
  segmenters/nlp/Sentencizer/README.md
  segmenters/nlp/Sentencizer/__init__.py
  segmenters/nlp/Sentencizer/config.yml
  segmenters/nlp/Sentencizer/manifest.yml
  segmenters/nlp/Sentencizer/tests/__init__.py
  segmenters/nlp/Sentencizer/tests/test_sentencizer.py
  segmenters/nlp/__init__.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#2157 fix: set default model for compression vae encoder
  encoders/numeric/CompressionVaeEncoder/Dockerfile
  encoders/numeric/CompressionVaeEncoder/__init__.py
  encoders/numeric/CompressionVaeEncoder/manifest.yml
  encoders/numeric/CompressionVaeEncoder/tests/test_compressionvaeencoder.py
  encoders/numeric/CompressionVaeEncoder/train_default_model.py
Labels: component/encoder, size/S, tests, type/dockerfile, type/manifest, type/python

#2154 fix: set default model for big transfer encoder
  encoders/image/BigTransferEncoder/__init__.py
  encoders/image/BigTransferEncoder/manifest.yml
  encoders/image/BigTransferEncoder/tests/test_bigtransferencoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#2164 feat: add torchobjectdetectionsegmenter to segmenters
  segmenters/__init__.py
  segmenters/image/TorchObjectDetectionSegmenter/Dockerfile
  segmenters/image/TorchObjectDetectionSegmenter/README.md
  segmenters/image/TorchObjectDetectionSegmenter/__init__.py
  segmenters/image/TorchObjectDetectionSegmenter/config.yml
  segmenters/image/TorchObjectDetectionSegmenter/helper.py
  segmenters/image/TorchObjectDetectionSegmenter/manifest.yml
  segmenters/image/TorchObjectDetectionSegmenter/requirements.txt
  segmenters/image/TorchObjectDetectionSegmenter/tests/__init__.py
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/cars.jpg
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-1.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-2.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-5.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-7.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/car-8.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-0.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-3.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-4.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-6.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/faster_rcnn/person-9.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-0.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-1.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-4.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-7.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-8.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/car-9.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/person-2.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/person-3.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/person-5.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/imgs/mask_rcnn/person-6.png
  segmenters/image/TorchObjectDetectionSegmenter/tests/test_torchobjectdetectionsegmenter.py
  segmenters/image/__init__.py
Labels: size/L, tests, type/config, type/dockerfile, type/manifest, type/python

#2175 refactor: revert image cropper moving
  crafters/image/ImageCropper/Dockerfile
  crafters/image/ImageCropper/README.md
  crafters/image/ImageCropper/__init__.py
  crafters/image/ImageCropper/config.yml
  crafters/image/ImageCropper/helper.py
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageCropper/requirements.txt
  crafters/image/ImageCropper/tests/__init__.py
  crafters/image/ImageCropper/tests/imgs/cars.jpg
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-1.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-2.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-5.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-7.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/car-8.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-0.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-3.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-4.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-6.png
  crafters/image/ImageCropper/tests/imgs/faster_rcnn/person-9.png
  crafters/image/ImageCropper/tests/test_imagecropper.py
Labels: component/crafter, size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#2169 feat: add audio Segmenters
  segmenters/audio/AudioSlicer/Dockerfile
  segmenters/audio/AudioSlicer/README.md
  segmenters/audio/AudioSlicer/__init__.py
  segmenters/audio/AudioSlicer/config.yml
  segmenters/audio/AudioSlicer/manifest.yml
  segmenters/audio/AudioSlicer/requirements.txt
  segmenters/audio/AudioSlicer/tests/__init__.py
  segmenters/audio/AudioSlicer/tests/test_audioslicer.py
  segmenters/audio/SlidingWindowAudioSlicer/Dockerfile
  segmenters/audio/SlidingWindowAudioSlicer/README.md
  segmenters/audio/SlidingWindowAudioSlicer/__init__.py
  segmenters/audio/SlidingWindowAudioSlicer/config.yml
  segmenters/audio/SlidingWindowAudioSlicer/manifest.yml
  segmenters/audio/SlidingWindowAudioSlicer/requirements.txt
  segmenters/audio/SlidingWindowAudioSlicer/tests/__init__.py
  segmenters/audio/SlidingWindowAudioSlicer/tests/test_slidingwindowaudioslicer.py
  segmenters/audio/__init__.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#2177 ci: mark push true only for prs raised by jina bot
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#2179 refactor: shadowing built ins
  encoders/image/CustomImageTorchEncoder/__init__.py
  encoders/image/CustomImageTorchEncoder/manifest.yml
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/tests/test_redisdbindexer.py
  rankers/SimpleAggregateRanker/manifest.yml
  rankers/SimpleAggregateRanker/tests/test_aggregate_ranker.py
Labels: component/encoder, component/indexer, component/ranker, size/S, tests, type/manifest, type/python

#2044 docs(readme): add naming conventions, app build instructions, hub push
  README.md
Labels: size/S

#2200 refactor: clarify save and load
  encoders/image/CustomImageTorchEncoder/manifest.yml
  encoders/image/CustomImageTorchEncoder/tests/test_customimagetorchencoder.py
  encoders/image/ImageKerasEncoder/__init__.py
  encoders/image/ImageKerasEncoder/manifest.yml
  encoders/image/ImageKerasEncoder/tests/test_tfkeras.py
  encoders/nlp/TransformerTorchEncoder/manifest.yml
  encoders/nlp/TransformerTorchEncoder/tests/test_transformertorchencoder.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#2347 feat: add training max number of points to consider
  indexers/vector/FaissIndexer/__init__.py
  indexers/vector/FaissIndexer/manifest.yml
  indexers/vector/FaissIndexer/tests/test_faissindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#2348 fix: remove devel tag from base image
  crafters/image/CenterImageCropper/Dockerfile
  crafters/image/CenterImageCropper/manifest.yml
  crafters/image/ImageCropper/Dockerfile
  crafters/image/ImageCropper/manifest.yml
  crafters/image/ImageFlipper/Dockerfile
  crafters/image/ImageFlipper/manifest.yml
  crafters/image/ImageNormalizer/Dockerfile
  crafters/image/ImageNormalizer/manifest.yml
  crafters/image/ImageResizer/Dockerfile
  crafters/image/ImageResizer/manifest.yml
  indexers/vector/AnnoyIndexer/Dockerfile
  indexers/vector/AnnoyIndexer/manifest.yml
Labels: component/crafter, component/indexer, size/S, type/dockerfile, type/manifest

#2566 fix: correct name for SlidingWindowAudioSlicer
  segmenters/audio/SlidingWindowAudioSlicer/manifest.yml
Labels: size/XS, type/manifest

#2565 fix: update multimodal encoder
  encoders/image/TirgImageEncoder/Dockerfile
  encoders/image/TirgImageEncoder/manifest.yml
  encoders/multimodal/TirgMultimodalEncoder/Dockerfile
  encoders/multimodal/TirgMultimodalEncoder/__init__.py
  encoders/multimodal/TirgMultimodalEncoder/manifest.yml
Labels: component/encoder, size/S, type/dockerfile, type/manifest, type/python

#2571 feat: remove min max ranker from hub
  rankers/MaxRanker/Dockerfile
  rankers/MaxRanker/README.md
  rankers/MaxRanker/__init__.py
  rankers/MaxRanker/config.yml
  rankers/MaxRanker/manifest.yml
  rankers/MaxRanker/tests/__init__.py
  rankers/MaxRanker/tests/test_maxranker.py
  rankers/MinRanker/Dockerfile
  rankers/MinRanker/README.md
  rankers/MinRanker/__init__.py
  rankers/MinRanker/config.yml
  rankers/MinRanker/manifest.yml
  rankers/MinRanker/tests/__init__.py
  rankers/MinRanker/tests/test_minranker.py
Labels: component/ranker, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#2480 feat(crafters): add AlbumentationsCrafter
  crafters/image/AlbumentationsCrafter/Dockerfile
  crafters/image/AlbumentationsCrafter/README.md
  crafters/image/AlbumentationsCrafter/__init__.py
  crafters/image/AlbumentationsCrafter/config.yml
  crafters/image/AlbumentationsCrafter/manifest.yml
  crafters/image/AlbumentationsCrafter/requirements.txt
  crafters/image/AlbumentationsCrafter/tests/__init__.py
  crafters/image/AlbumentationsCrafter/tests/config.yaml
  crafters/image/AlbumentationsCrafter/tests/rubi.png
  crafters/image/AlbumentationsCrafter/tests/rubi_center_crop.png
  crafters/image/AlbumentationsCrafter/tests/rubi_crop.png
  crafters/image/AlbumentationsCrafter/tests/rubi_flip.png
  crafters/image/AlbumentationsCrafter/tests/rubi_resize.png
  crafters/image/AlbumentationsCrafter/tests/test_albumentationscrafter.py
Labels: component/crafter, size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#2582 fix: redis indexer
  indexers/keyvalue/RedisDBIndexer/Dockerfile
  indexers/keyvalue/RedisDBIndexer/__init__.py
  indexers/keyvalue/RedisDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/tests/test_redisdbindexer.py
Labels: component/indexer, size/S, tests, type/dockerfile, type/manifest, type/python

#2659 fix: tmpdir as string
  encoders/image/CustomImageTorchEncoder/manifest.yml
  encoders/image/CustomImageTorchEncoder/tests/test_customimagetorchencoder.py
  encoders/image/CustomKerasImageEncoder/manifest.yml
  encoders/image/CustomKerasImageEncoder/tests/test_customtfkeras.py
  encoders/image/ImageOnnxEncoder/manifest.yml
  encoders/image/ImageOnnxEncoder/tests/test_onnx_encoder.py
Labels: component/encoder, size/S, tests, type/manifest, type/python

#2660 fix: fix pytorch base images
  encoders/nlp/VSETextEncoder/Dockerfile
  encoders/nlp/VSETextEncoder/manifest.yml
Labels: component/encoder, size/XS, type/dockerfile, type/manifest

#2202 feat: new cmlm encoder
  encoders/nlp/UniversalSentenceEncoder/__init__.py
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
  encoders/nlp/UniversalSentenceEncoder/requirements.txt
  encoders/nlp/UniversalSentenceEncoder/tests/test_universalsentenceencoder.py
Labels: component/encoder, size/M, tests, type/manifest, type/python

#2766 fix: imageresizer gray
  crafters/image/ImageResizer/helper.py
  crafters/image/ImageResizer/manifest.yml
  crafters/image/ImageResizer/tests/test_imageresizer.py
Labels: component/crafter, size/S, tests, type/manifest, type/python

#2777 fix: fix warning Use
  encoders/nlp/UniversalSentenceEncoder/__init__.py
  encoders/nlp/UniversalSentenceEncoder/manifest.yml
Labels: component/encoder, size/S, type/manifest, type/python

#3035 fix: Sentencizer test
  segmenters/nlp/Sentencizer/manifest.yml
  segmenters/nlp/Sentencizer/tests/test_sentencizer.py
Labels: size/XS, tests, type/manifest, type/python

#3036 fix: PDFExtractorSegmenter on done
  segmenters/nlp/PDFExtractorSegmenter/manifest.yml
  segmenters/nlp/PDFExtractorSegmenter/tests/README.md
  segmenters/nlp/PDFExtractorSegmenter/tests/test_pdf_flow.py
Labels: size/S, tests, type/manifest, type/python

#3037 fix: tests in imagereader
  crafters/image/ImageReader/manifest.yml
  crafters/image/ImageReader/tests/test_imagereader.py
Labels: component/crafter, size/XS, tests, type/manifest, type/python

#3038 fix: nmslib indexer
  indexers/vector/NmsLibIndexer/manifest.yml
  indexers/vector/NmsLibIndexer/requirements.txt
Labels: component/indexer, size/XS, type/manifest

#3039 docs: leveldbindexer crud
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
Labels: component/indexer, size/S, type/manifest, type/python
