Repository jina-ai/jina-hub, pull requests merged in 2021-05, with the labels that each got.

#8080 fix: documentation url for SlidingWindowAudioSlicer
  segmenters/audio/SlidingWindowAudioSlicer/manifest.yml
Labels: size/XS, type/manifest

#8079 fix: documentation url for AudioSlicer
  segmenters/audio/AudioSlicer/manifest.yml
Labels: size/XS, type/manifest

#7583 feat: plumber pdf segmenter
  segmenters/nlp/PDFPlumberSegmenter/Dockerfile
  segmenters/nlp/PDFPlumberSegmenter/README.md
  segmenters/nlp/PDFPlumberSegmenter/__init__.py
  segmenters/nlp/PDFPlumberSegmenter/config.yml
  segmenters/nlp/PDFPlumberSegmenter/manifest.yml
  segmenters/nlp/PDFPlumberSegmenter/requirements.txt
  segmenters/nlp/PDFPlumberSegmenter/tests/__init__.py
  segmenters/nlp/PDFPlumberSegmenter/tests/cats_are_awesome.pdf
  segmenters/nlp/PDFPlumberSegmenter/tests/cats_are_awesome_img.pdf
  segmenters/nlp/PDFPlumberSegmenter/tests/cats_are_awesome_text.pdf
  segmenters/nlp/PDFPlumberSegmenter/tests/test_img_0.jpg
  segmenters/nlp/PDFPlumberSegmenter/tests/test_img_1.jpg
  segmenters/nlp/PDFPlumberSegmenter/tests/test_pdfextractorcrafter.py
Labels: size/M, tests, type/config, type/dockerfile, type/manifest, type/python

#7460 feat: add json schema
  schemas/schema.json
Labels: size/S

#7982 feat(segmenter): add location for SlidingWindowSegmenter
  segmenters/nlp/SlidingWindowSegmenter/__init__.py
  segmenters/nlp/SlidingWindowSegmenter/manifest.yml
  segmenters/nlp/SlidingWindowSegmenter/tests/test_slidingwindowsegmenter.py
Labels: size/S, tests, type/manifest, type/python

#8084 feat: redisdbindexer batching
  indexers/keyvalue/MongoDBIndexer/manifest.yml
  indexers/keyvalue/RedisDBIndexer/__init__.py
  indexers/keyvalue/RedisDBIndexer/tests/test_redisdbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#8175 fix: fix the tokens
  .github/workflows/ci.yml
  .github/workflows/cla.yml
  .github/workflows/merge-dependabot.yml
Labels: area/cicd, area/housekeeping, size/XS

#8083 feat: add batching query capability to mongodbindexer
  indexers/keyvalue/MongoDBIndexer/__init__.py
  indexers/keyvalue/MongoDBIndexer/manifest.yml
  indexers/keyvalue/MongoDBIndexer/tests/test_mongodbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#8081 feat: query on batches leveldbindexer
  indexers/keyvalue/LevelDBIndexer/__init__.py
  indexers/keyvalue/LevelDBIndexer/manifest.yml
  indexers/keyvalue/LevelDBIndexer/tests/test_leveldbindexer.py
Labels: component/indexer, size/S, tests, type/manifest, type/python

#8532 fix: fix typo segement
  segmenters/nlp/DeepSegmenter/manifest.yml
Labels: size/XS, type/manifest

#8176 feat: added 2 0 indexers
  indexers/compound/NumpyFileQueryIndexer/Dockerfile
  indexers/compound/NumpyFileQueryIndexer/README.md
  indexers/compound/NumpyFileQueryIndexer/__init__.py
  indexers/compound/NumpyFileQueryIndexer/config.yml
  indexers/compound/NumpyFileQueryIndexer/manifest.yml
  indexers/compound/NumpyFileQueryIndexer/requirements.txt
  indexers/compound/NumpyFileQueryIndexer/tests/__init__.py
  indexers/compound/NumpyFileQueryIndexer/tests/dump1/0/ids
  indexers/compound/NumpyFileQueryIndexer/tests/dump1/0/metas
  indexers/compound/NumpyFileQueryIndexer/tests/dump1/0/vectors
  indexers/compound/NumpyFileQueryIndexer/tests/test_query.py
  indexers/compound/__init__.py
  indexers/dbms/BinaryPbIndexer/Dockerfile
  indexers/dbms/BinaryPbIndexer/README.md
  indexers/dbms/BinaryPbIndexer/__init__.py
  indexers/dbms/BinaryPbIndexer/binarypb.py
  indexers/dbms/BinaryPbIndexer/config.yml
  indexers/dbms/BinaryPbIndexer/manifest.yml
  indexers/dbms/BinaryPbIndexer/requirements.txt
  indexers/dbms/BinaryPbIndexer/tests/__init__.py
  indexers/dbms/BinaryPbIndexer/tests/test_indexer.py
  indexers/keyvalue/FileQueryIndexer/Dockerfile
  indexers/keyvalue/FileQueryIndexer/README.md
  indexers/keyvalue/FileQueryIndexer/__init__.py
  indexers/keyvalue/FileQueryIndexer/config.yml
  indexers/keyvalue/FileQueryIndexer/file_writer.py
  indexers/keyvalue/FileQueryIndexer/manifest.yml
  indexers/keyvalue/FileQueryIndexer/requirements.txt
  indexers/keyvalue/FileQueryIndexer/tests/__init__.py
  indexers/keyvalue/FileQueryIndexer/tests/dump1/0/ids
  indexers/keyvalue/FileQueryIndexer/tests/dump1/0/metas
  indexers/keyvalue/FileQueryIndexer/tests/dump1/0/vectors
  indexers/keyvalue/FileQueryIndexer/tests/test_query.py
  indexers/vector/NumpyIndexer/Dockerfile
  indexers/vector/NumpyIndexer/README.md
  indexers/vector/NumpyIndexer/__init__.py
  indexers/vector/NumpyIndexer/config.yml
  indexers/vector/NumpyIndexer/manifest.yml
  indexers/vector/NumpyIndexer/requirements.txt
  indexers/vector/NumpyIndexer/tests/__init__.py
  indexers/vector/NumpyIndexer/tests/dump1/0/ids
  indexers/vector/NumpyIndexer/tests/dump1/0/metas
  indexers/vector/NumpyIndexer/tests/dump1/0/vectors
  indexers/vector/NumpyIndexer/tests/test_query.py
Labels: component/indexer, size/XL, tests, type/config, type/dockerfile, type/manifest, type/python

#8533 refactor: move Sentencizer to 2 0 API
  segmenters/nlp/Sentencizer/Dockerfile
  segmenters/nlp/Sentencizer/__init__.py
  segmenters/nlp/Sentencizer/manifest.yml
  segmenters/nlp/Sentencizer/tests/test_sentencizer.py
Labels: size/S, tests, type/config, type/dockerfile, type/manifest, type/python

#8535 docs(readme): rm missing eah god image link
  README.md
Labels: size/XS

#8536 chore: ignore 2.0 in dependabot
  .github/dependabot.yml
Labels: size/M

#8537 fix: fix version
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#8538 fix: fix move axis
  crafters/image/ImageNormalizer/__init__.py
  crafters/image/ImageNormalizer/manifest.yml
Labels: component/crafter, size/XS, type/manifest, type/python

#8539 ci: hub builder install jina via git
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#7983 feat(segmenter): add location for FaceNetSegmenter
  segmenters/image/FaceNetSegmenter/__init__.py
  segmenters/image/FaceNetSegmenter/tests/test_facenetsegmenter.py
Labels: size/M, tests, type/manifest, type/python

#7984 feat(segmenter): add location for AudioSlicer
  segmenters/audio/AudioSlicer/__init__.py
  segmenters/audio/AudioSlicer/manifest.yml
  segmenters/audio/AudioSlicer/tests/test_audioslicer.py
Labels: size/S, tests, type/manifest, type/python

#7985 feat(segmenter): add location for SlidingWindowAudioSlicer
  segmenters/audio/SlidingWindowAudioSlicer/__init__.py
  segmenters/audio/SlidingWindowAudioSlicer/manifest.yml
  segmenters/audio/SlidingWindowAudioSlicer/tests/test_slidingwindowaudioslicer.py
Labels: size/S, tests, type/manifest, type/python

#8268 feat: add lightgbm ranker trainer
  .github/workflows/ci.yml
  trainers/LightGBMRankerTrainer/Dockerfile
  trainers/LightGBMRankerTrainer/README.md
  trainers/LightGBMRankerTrainer/__init__.py
  trainers/LightGBMRankerTrainer/config.yml
  trainers/LightGBMRankerTrainer/manifest.yml
  trainers/LightGBMRankerTrainer/requirements.txt
  trainers/LightGBMRankerTrainer/tests/__init__.py
  trainers/LightGBMRankerTrainer/tests/test_lightgbm_ranker_trainer.py
  trainers/LightGBMRankerTrainer/tests/training_dataset.train
  trainers/LightGBMRankerTrainer/tests/training_dataset.train.query
  trainers/__init__.py
Labels: area/cicd, area/housekeeping, size/M, tests, type/config, type/dockerfile, type/manifest, type/python
